﻿@model List<Domain.Model.Products.Product>
@{
    ViewBag.Title = "销售统计";
}
<script type="text/html" id="tpl_home">
    @Html.Partial("_Header")
    <div id="salesAnalysis">
        <div class="vux-flexbox tab-changeable vux-flex-row">
            <div class="vux-flexbox-item tab-item active" data-attr="daily" style="width:50%; float:left; margin-left: 0px; border-right: 1px solid rgb(220, 220, 220);">
                销售统计日报表
            </div> <div class="vux-flexbox-item tab-item" data-attr="month" style="margin-left: 0px;">
                销售统计月报表
            </div>
        </div> <div>
            <!----> <div class="weui-cells vux-no-group-title">
                <a href="javascript:" class="vux-datetime weui-cell weui-cell_access" id="vux-datetime-j1pjd">
                    <div><p>订单开始日期</p> <!----></div> <div class="weui-cell__ft vux-cell-primary vux-datetime-value">

                        <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
                    </div>
                </a> <a href="javascript:" class="vux-datetime weui-cell weui-cell_access" id="vux-datetime-9h9go">
                    <div><p>订单结束日期</p> <!----></div> <div class="weui-cell__ft vux-cell-primary vux-datetime-value">

                        <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
                    </div>
                </a> @*<div class="vux-selector weui-cell weui-cell_select weui-cell_select-after"><div class="weui-cell__hd"><label for="vux-selector-v9l3i" class="weui-label">查询参数1</label></div> <div class="weui-cell__bd"><select id="vux-selector-v9l3i" ddd="" class="weui-select"><!----> <!----> <option value="gd">燃气灶</option><option value="gx">燃气灶</option></select></div></div> <div class="vux-selector weui-cell weui-cell_select weui-cell_select-after"><div class="weui-cell__hd"><label for="vux-selector-hhjbo" class="weui-label">查询参数2</label></div> <div class="weui-cell__bd"><select id="vux-selector-hhjbo" ddd="" class="weui-select"><!----> <!----> <option value="gd">燃气灶</option><option value="gx">燃气灶</option></select></div></div> <div class="vux-selector weui-cell weui-cell_select weui-cell_select-after"><div class="weui-cell__hd"><label for="vux-selector-0nuos" class="weui-label">查询参数3</label></div> <div class="weui-cell__bd"><select id="vux-selector-0nuos" ddd="" class="weui-select"><!----> <!----> <option value="gd">燃气灶</option><option value="gx">燃气灶</option></select></div></div>*@
            </div>
        </div> <div class="vux-flexbox vux-flex-row" style="padding: 10px;"><div class="vux-flexbox-item" style="margin-left: 8px;"><button class="weui-btn weui-btn_primary"><!---->查询</button></div></div> 
        @*<table class="vux-table vux-table-no-cell-bordered vux-table-no-content-bordered" style="background-color: rgb(255, 255, 255);"><thead><tr style="background-color: rgb(247, 247, 247);"><th>时间</th> <th>订单总数</th> <th>商品总数</th> <th>总金额</th></tr></thead> <tbody><tr><td>2017-01-01</td> <td>2</td> <td>4</td> <td>5343</td></tr> <tr><td>2017-01-02</td> <td>2</td> <td>4</td> <td>5343</td></tr> <tr><td>2017-01-01</td> <td>2</td> <td>4</td> <td>5354</td></tr> <tr><td>合计</td> <td>6</td> <td>12</td> <td>5354</td></tr></tbody></table>*@
    </div>
    </script>
    <style>
        #salesAnalysis {
            display: flex;
            flex-direction: column;
            background: #F9F9F9;
            overflow: auto;
            flex: 1;
        }

        .tab-changeable {
            margin-top: .2rem;
            min-height: 1.4rem;
            background: #ffffff;
        }

            .tab-changeable .tab-item {
                min-height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
            }

                .tab-changeable .tab-item.active {
                    background: #17C5C3;
                    color: #fff;
                }
    </style>
