﻿@model List<OrderSystem.Areas.Mobile.Views.Models.ProductStoreListModel>
@{
    ViewBag.Title = "库存查询";
}

<script type="text/html" id="tpl_home">
    @Html.Partial("_Header")
    <div id="addItems">
        <div class="vux-flexbox items-sort vux-flex-row">
            <div class="vux-flexbox-item" style="margin-left: 8px; flex: 0 0 40%;">
                <div class="select-container">
                    @Html.DropDownList("StoreId", ViewData["Store"] as IList<SelectListItem>, new { required = "" })
                </div>
            </div>
            <div class="vux-flexbox-item" style="margin-left: 8px; flex: 0 0 50%;">
                <div class="select-container">
                    @Html.DropDownList("CatalogId", ViewData["Catalog"] as IList<SelectListItem>, new { required = "" })
                </div>
            </div>
        </div>
        <div class="vux-flexbox items-sort vux-flex-row">
            <div class="vux-flexbox-item" style="margin-left: 8px; flex: 0 0 100%;">
                <div class="input-container"><input type="text" style="width:75%" placeholder="请输入名称或编码"></div>
            </div>
        </div>
@foreach (var m in Model)
{
        <div class="vux-flexbox items-present vux-flex-col">
            <div class="vux-flexbox-item list-item" style="margin-top: 8px;">
                <p class="item-name">@m.ProductName</p>
                <p class="item-code">商品编码：@m.Num</p>
                <p class="storage-status">实物库存： @m.Quantity     可售库存：@m.ActualQuantity</p>
            </div>
        </div>
}
    </div>


    <style>
        #addItems {
            display: flex;
            flex-direction: column;
            background: #F9F9F9;
            overflow: auto;
            flex: 1;
        }

            #addItems .items-sort {
                margin: 5px 0;
                background: #ffffff;
                padding: 0 0.3rem;
                /*flex: 0 0 1.4rem;*/
            }

        .select-container select {
            width: 100%;
            border-radius: 8px;
            min-height: 30px;
            background: #f9f9f9;
        }

        .input-container input {
            border-radius: 8px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 1px solid rgb(169, 169, 169);
            min-height: 30px;
            background: #f9f9f9;
            padding: 0 45px;
        }

        .items-present .list-item {
            background: #ffffff;
            overflow: hidden;
            min-height: 4rem;
        }

            .items-present .list-item .item-detail {
                padding: 10px;
            }

            .items-present .list-item .item-add {
                background: #17C5C3;
                min-height: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .items-present .list-item .item-add > * {
                    flex: 1;
                    color: #ffffff;
                }

                .items-present .list-item .item-add .vux-x-icon {
                    fill: #ffffff;
                }

            .items-present .list-item p {
                line-height: 35px;
            }

.vux-flexbox {
        text-align: left;
        display: -webkit-box;
        display: flex;
        display: -webkit-flex;
        box-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
 .vux-flexbox-item {
     padding:10px;
    width: 95%;
}
 .vux-flex-col {
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
     flex-direction: column; 
}
    </style>
    </script>