﻿@model OrderSystem.Models.Orders.OrderProductModel

@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        @if(Model.Id<=0)
        {
           <text> selectDpList();</text>
        }
    });
    function selectDpList()
    {
        var catalogId = $("#CatalogId").val();
        AjaxGetData("/Product/getProductByCatalog","Id=" + catalogId,function(data)
        {
            createOptions(document.getElementById('ProductId'), data);
            productSelectDpList();
        })
    }
    function productSelectDpList()
    {
        var ProductId = $("#ProductId").val();
        AjaxGetData("/Product/getProductById", "Id=" + ProductId, function (data) {
            $("#lblKYCount").text(data.KYCount);
            $("#lblKCCount").text(data.KCCount);
        })
    }
    function createOptions(parent, ops) {
        parent.innerHTML = ""
        var arr = [];
        for (var i = 0, len = ops.length; i < len; i++) {
            var o = new Option(ops[i].Text, ops[i].Value);
            parent.appendChild(o);
        }
    }
</script>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>品类：</span>
            @Html.DropDownListFor(p=>p.CatalogId, Model.AvailableCatalog, new { required = "",onchange= "selectDpList();" })
        </div>
        <div  class="fromlist">
            <span>商品型号：</span>
            @*<input type="text" id="txtSearchProductType" />*@
            @Html.DropDownListFor(p => p.ProductId, Model.AvailableProducts, new { required = "", onchange = "productSelectDpList();" })
        </div>
        <div class="fromlist">
            <span>可用数量：</span>
            <div id="lblKYCount">@(Model==null?"":Model.KYCount.ToString())</div>
            <span>库存数量：</span>
            <div id="lblKCCount"> @(Model == null ? "" : Model.KCCount.ToString())</div>
        </div>
        <div class="fromlist">
            <span>商品数量：</span>
            @Html.TextBoxFor(p => p.Quantity)
        </div>
        <div class="fromlist">
            <span>备注：</span>
            @Html.TextAreaFor(p => p.Remarks,new { rows = "3",style = "width:300px" })
        </div>
    </div>
}
