﻿@model OrderSystem.Models.Orders.OrderModel

<script type="text/javascript">
    function add() {
        OpenDialog("dialog-form", "/Order/AddOrderProduct?OrderId="+@Model.Id, "选择商品", false,
            "\"确定\": function () {AddOrderProductSubmit();}", "jqT");
    }

    function AddOrderProductSubmit()
    {
        var form = $("#dialog-form").find("form");
        if (form.length > 0) {
            form.validate();
        }
        if ($("#Quantity").val() > $("#lblKYCount").text())
        {
            alert("可用数量不足" + $("#Quantity").val());
            return;
        }
        form.submit();
    }
    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }
    function upd(id)
    {
        FormDialog("dialog-form", "/Order/UpdOrderProduct?id=" + id, "修改");
    }
    function del(id)
    {
        AjaxPostData("/Order/DelOrderProduct", "id=" + id, function () {
            jQuery("#jqT").trigger("reloadGrid");
        });
    }
</script>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单信息</h5>
                    <a  style="width:100px;float:right" onclick="javascript: history.go(-1)">返回列表</a>
                </div>
                <div class="ibox-content">
                        <form class="form-horizontal m-t" id="commentForm" novalidate="novalidate">
                            @Html.NopDisplayRowFor("订单编号", p => p.OrderNum)
                            @Html.NopDisplayRowFor("经销商", p => p.JXSName)
                            @Html.NopDisplayRowFor("卖场", p => p.MDName)
                            @Html.NopDisplayRowFor("导购", p => p.DGName)
                            @Html.NopDisplayRowFor("客户名称", p => p.CustomerName)
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系电话：</label>
                                <div class="col-sm-8">
                                    @Html.DisplayFor(p => p.CustomerTel1, new { style = "width:120px", required = "true" })/
                                    @Html.DisplayFor(p => p.CustomerTel2, new { style = "width:120px" })
                                </div>
                            </div>
                            @Html.NopDisplayRowFor("收货地址", p => p.Address)
                            @Html.NopDisplayRowFor("送货时间", p => p.WLDeliverTime)
                            @Html.NopDisplayRowFor("安装时间", p => p.FWSUserCompleteTime)
                            @Html.NopDisplayRowFor("服务商", p => p.FWSName)
                            @Html.NopDisplayRowFor("服务技师", p => p.FWSUserName)
                            @Html.NopDisplayRowFor("仓库", p => p.StoreName)
                            @Html.NopDisplayRowFor("备注", p => p.Remarks)
                        </form>
                    </div>
            </div>

    </div>
</div>
<div class="agentlist">
    <strong>订单商品</strong>
    <a id="btnExport" onclick="add();">新增</a>
</div>

    <div class="listagent">
        @Html.jqGrid("#jqT", "", "GetOrderItemList?OrderId=" + Model.Id, "'商品编号', '商品名称', '商品型号', '商品大类', '商品单价', '商品数量','商品金额','操作'"
      , "{ name: 'Num', sortable: false, align: \"center\" },"
      + "{ name: 'Name', sortable: false, align: 'center' },"
      + "{ name: 'Specification', sortable: false, align: 'center' },"
      + "{ name: 'CatalogName', sortable: false, align: 'center' },"
      + "{ name: 'Price', sortable: false, align: 'center' },"
      + "{ name: 'Quantity', sortable: false, align: 'center' },"
      + "{ name: 'Total', sortable: false, align: 'center' },"
      + " {name: 'Id', sortable: false, align: 'center', formatter:        function(cellvalue, options, rowObject) { return \" <a  onclick=\\\"upd('\" + cellvalue + \"')\\\">编辑</a>  <a  onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a>\"; }    }"

)
    </div>
@Html.jqDialog("dialog-form", 500, 500)