﻿
<script type="text/javascript">
    function queryTel() {
        //var txtCompanyCode = jQuery("#txtsCompanyCode").val();
        var txtCompanyName = jQuery("#txtsCompanyName").val();
        //var txtParentUserName = jQuery("#txtsParentUserName").val();
        //var ddlState = jQuery("#ddlsState").val();
        jQuery("#jqT").jqGrid('setGridParam', { url: "/Company/GetCompanyList?companyCode=" + "txtCompanyCode" + "&companyName=" + txtCompanyName + "&companyState=" + "ddlState" }).trigger("reloadGrid");
    }
    function add() {
        FormDialog("dialog-form", "/Order/AddOrder", "新增订单");
    }
    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }
    //function upd(id)
    //{
    //    FormDialog("dialog-form", "/Order/UpdOrder?id=" + id, "修改订单");
    //}
    //function del(id)
    //{
    //    AjaxPostData("/Order/DelOrder", "id=" + id, function () {
    //        jQuery("#jqT").trigger("reloadGrid");
    //    });
    //}

    function orderInfo(cellvalue, options, rowObject)
    {
        return "<a href='/Order/OrderInfo?OrderId=" + rowObject["Id"] + "' >" + cellvalue + "</a>";
    }
</script>
<div class="agentlist">
    <strong>订单查询</strong>
    <a id="btnExport" onclick="add();">新增订单</a>
</div>
<div class="searchagent">
    <h3>订单编号</h3>
    <input id="txtTitle" class="input_XSmall">
    <h3>订单状态:</h3>
    <select id="ddlquestiontype" name="ddlquestiontype" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <h3>客户电话</h3>
    <input id="txtTitle" class="input_XSmall">
    <h3>经销商:</h3>
    <select id="ddlquestiontype" name="ddlquestiontype" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <br />
    <h3>卖场:</h3>
    <select id="ddlquestiontype" name="ddlquestiontype" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <h3>导购:</h3>
    <select id="ddlquestiontype" name="ddlquestiontype" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <h3>仓库:</h3>
    <select id="ddlquestiontype" name="ddlquestiontype" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <a id="btnQuery" onclick="queryTel();">查询</a>
</div>

<div class="listagent">
    @Html.jqGrid("#jqT", "", "GetOrderList", "'订单编号', '订单状态', '订单总额', '仓库', '物流商', '经销商','卖场','导购员','服务商','客户名称','联系电话','省','地市','区县','详细地址','建单时间','备注'"
      , "{ name: 'OrderNum', sortable: false, align: \"center\", formatter:orderInfo },"
      + "{ name: 'Status', sortable: false, align: 'center' },"
      + "{ name: 'OrderTotal', sortable: false, align: 'center' },"
      + "{ name: 'StoreName', sortable: false, align: 'center' },"
      + "{ name: 'WLSName', sortable: false, align: 'center' },"
      + "{ name: 'JXSName', sortable: false, align: 'center' },"
      + "{ name: 'MCName', sortable: false, align: 'center' },"
      + "{ name: 'DGName', sortable: false, align: 'center' },"
      + "{ name: 'FWSName', sortable: false, align: 'center' },"
      + "{ name: 'CustomerName', sortable: false, align: 'center' },"
      + "{ name: 'CustomerTel', sortable: false, align: 'center' },"
      + "{ name: 'Province', sortable: false, align: 'center' },"
      + "{ name: 'City', sortable: false, align: 'center' },"
      + "{ name: 'County', sortable: false, align: 'center' },"
      + "{ name: 'Address', sortable: false, align: 'center' },"
      + "{ name: 'CreateTime', sortable: false, align: 'center' },"
      + "{ name: 'Remarks', sortable: false, align: 'center' }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)