﻿@using Domain.Model.Users;
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广东万家乐物流配送系统1.0-运营管理</title>
    <link href="/Content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/Content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <link href="/Content/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
    <li class="nav-header">
        <div class="dropdown profile-element">
            <span><img alt="image" src="~/Content/Images/LOGO.png" /></span>
        </div>
    </li>
    @{
        List<Menu> Menus = (List<Menu>)ViewData["AllMenu"];
        List<RoleMenus> roleMenus = (List<RoleMenus>)ViewData["RoleMenus"];
        foreach (RoleMenus item in roleMenus)
        {
            if (item.Menu.ParentId == 1)
            {
                <text>
                    <li>
    <a href="#">
        <i class="fa fa-home"></i>
        <span class="nav-label">
            @if (item.Menu.IfShow == 1)
            {@item.Menu.Name}
        </span>
        <span class="fa arrow"></span>
    </a>

                </text>
            List<Menu> subMenus = Menus.Where(a => { return a.ParentId == item.Menu.Id; }).ToList();
            if (subMenus.Count > 0)
            {
                    <text> <ul class="nav nav-second-level"></text>
                    foreach (Menu item2 in subMenus)
                    {
                        if (item2.IfShow == 1)
                        {
                            <text>
                                <li>
                                    <a class="@item2.IconClass" href="/@item2.ControllerName/@item2.ActionName" data-index="@item2.OrderNo">@item2.Name</a>
                                </li>
                            </text>
                        }

                }@:</ul>

            }

        }
    }
}</li>
                    @*<li> 
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">订单管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                @Html.ActionLink("添加订单", "OrderList", "Order", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("审核订单", "OrderCheckList", "Order", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("订单配送", "DeliveryList", "Order", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("订单查询", "OrderSearchList", "Order", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("订单明细查询", "OrderInfoList", "Order", null, new { @class = "J_menuItem" })
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">库存管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                @Html.ActionLink("进货入库", "QuestionClassList", "Question", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("入库单查询", "QuestionList", "Question", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("入库明细查询", "ImportQuestions", "Question", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("库存查询", "QuestionClassList", "Question", null, new { @class = "J_menuItem" })
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">报表管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                @Html.ActionLink("进货统计", "BookClassList", "Book", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("销售统计", "BooksList", "Book", null, new { @class = "J_menuItem" })
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">系统管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                @Html.ActionLink("角色", "RoleList", "Account", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("菜单", "MenuList", "Account", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("用户", "UserAccountList", "Account", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("经销商", "JXSCompanyList", "SubordinateCompany", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("卖场", "MCCompanyList", "SubordinateCompany", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("物流商", "WLSCompanyList", "SubordinateCompany", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("服务商", "FUSCompanyList", "SubordinateCompany", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("商品品类", "CatalogList", "Product", null, new { @class = "J_menuItem" })
                            </li>
                            <li>
                                @Html.ActionLink("商品", "ProductList", "Product", null, new { @class = "J_menuItem" })
                            </li>
                        </ul>
                    </li>
                </ul>*@

</div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <div style="line-height:55px;"> <strong style="color:#78909c;font-size:18px">广东万家乐物流配送系统1.0</strong></div>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="hidden-xs">
                            <div class="topnav" style="line-height:55px;">

                                <div class="toprightnav">
                                    <span>当前用户：@Request.RequestContext.HttpContext.User.Identity.Name</span>
                                    <a id="btnUpdMyPwd" style="line-height:40px;padding:0 20px 0 25px;height:40px;margin-top:20px;border-right:solid 2px #ccc;">修改密码</a>
                                    @*@Html.ImageActionLink("/Content/images/off.png", "注销", "LogOut", "Account", new { }, new { @class = "tetoff" })*@
                                </div>
                            </div>
                        </li>
                        @*<li class="dropdown hidden-xs">
                                <a class="right-sidebar-toggle" aria-expanded="false">
                                    <i class="fa fa-tasks"></i> 主题
                                </a>
                            </li>*@
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/Home/HomePage" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">

                </div>
            </div>
        </div>
        <!--右侧部分结束-->

    </div>
    <script src="~/Scripts/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Scripts/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/Scripts/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/js/plugins/layer/layer.min.js"></script>
    <script src="~/Scripts/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="~/Scripts/js/contabs.min.js"></script>
    <script src="~/Scripts/js/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/sanji/distpicker.data.js"></script>
    <script src="~/Scripts/sanji/distpicker.js"></script>
    <script src="~/Scripts/sanji/main.js"></script>
    <script src="~/Scripts/validateTools.js"></script>
    <script type="text/javascript">
            $(function () {
                // 绑定修改密码事件
                $('#btnUpdMyPwd').on('click', function (e) {
                    FormDialog("UpdPwddialog-form", "/Account/UpdMyPwd", "修改密码");
                })
            });

            function OnSuccessPost(e) {
                $("#UpdPwddialog-form").dialog("close");
                alert("操作成功！");
            }
    </script>
</body>
</html>


