﻿@model OrderSystem.Models.Product.CatalogModel
@{
    Layout = null;
}
@using Common.Enums;
@*@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))*@
@*@using (Ajax.BeginForm("AddCatalog", null, new AjaxOptions() { OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError", HttpMethod = "Post" }, new { enctype = "multipart/form-data" })) {*@ 
@using (Html.BeginForm("AddCatalog", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div class="fromlistbox">
        <div class="fromlist">
            <span>品类编码：</span>
            @Html.TextBoxFor(p => p.Num, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>名称：</span>
            @Html.TextBoxFor(p => p.Name, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>父品类：</span>
            <input type="hidden" name="ParentName" id="ParentName"/>
            @Html.DropDownListFor(p => p.ParentId, Model.ParCatalogList, new { required = "",onchange = @"change($('#ParentId'),$('#ParentName'));" })
        </div>
        <div class="fromlist">
            <span>分类级别：</span>
            @Html.DropDownListFor(p => p.Level, Model.LevelList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>图标：</span>
            <input type="file" id="picAjax" />
            <img id="selImg" src="" alt="图片预览" />
            @Html.HiddenFor(p => p.Icon, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>所属公司：</span>
            <input type="hidden" name="CompanyName" id="CompanyName"/>
            @Html.DropDownListFor(p => p.CompanyId, Model.CompanyList, new { required = "",onchange = @"change($('#CompanyId'),$('#CompanyName'));" })
        </div>
        <div class="fromlist">
            <span>备注：</span>
            @Html.TextAreaFor(p => p.Remarks, new { rows = "3", style = "width:300px" })
        </div>
    </div>
}
<script type="text/javascript">

    var picString = "";
    $(function () {
        $('#ParentName').val($('#ParentId').find('option:selected').text());
        $('#CompanyName').val($('#CompanyId').find('option:selected').text());

        $("#picAjax").change(function (e) {
            var file = e.delegateTarget.files[0];
            //在此可以对选择的文件进行判断:文件类型 文件大小等
            //.....

            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (ret) {
                picString = reader.result
                //预览图片
                $("#selImg").attr({ "src": picString });
                $("#Icon").val(picString);
            }
        });
    })
            
    //传值
    function change(sou,des) {
        des.val(sou.find('option:selected').text());
    }
</script>

