﻿@model OrderSystem.Models.Product.ProductModel
@using Domain.Model.Products;
@{
    Layout = null;
}
@using Common.Enums;
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>商品编码：</span>
            @Html.TextBoxFor(p => p.Num, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>商品名称：</span>
            @Html.TextBoxFor(p => p.Name, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>商品型号：</span>
            @Html.TextBoxFor(p => p.Specification, new { required = "true" })
        </div>
        @*<div class="fromlist">
            <span>缩略图：</span>
            @Html.TextBoxFor(p => p.Cover, new { required = "true" })
        </div>*@
        <div class="fromlist">
            <span>缩略图：</span>
            <input type="file" id="picAjax" name="picAjax"/>
            <br><span></span><img id="selImg" src="" alt="图片预览" />
            @Html.HiddenFor(p => p.Cover, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>品类：</span>
            <select id="AddParentCatalogId" name="ParentCatalogId" class="input_XSmall" onchange="changeTwo()">
                <option value="-1">请选择</option>
                @{
                    List<Catalog> one = (List<Catalog>)ViewData["One"];
                    foreach (Catalog item in one)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }}
            </select>
            <select id="AddCatalogId" name="CatalogId" class="input_XSmall"></select>
        </div>
        <div class="fromlist">
            <span>出厂价：</span>
            @Html.TextBoxFor(p => p.CostPrice, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>建议售价：</span>
            @Html.TextBoxFor(p => p.SuggestPrice, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>建议最高售价：</span>
            @Html.TextBoxFor(p => p.MaxPrice, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>建议最低售价：</span>
            @Html.TextBoxFor(p => p.MinPrice, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>包安装：</span>
            <select name="IsInstall">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
        <div class="fromlist">
            <span>CRM编号：</span>
            @Html.TextBoxFor(p => p.CRMNum, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>状态：</span>
            @Html.DropDownListFor(p => p.Status, Model.StatusList, new { required = "" })
        </div>
    </div>
}
<script src="~/Scripts/validateTools.js"></script>
<script type="text/javascript">
    function changeTwo() {
        var id = $("#AddParentCatalogId").val();
        var html = "";
        $("#AddCatalogId").empty();
        $.ajax({
            url: "/Product/GetCatalogList?rows=10000&page=1&ParentId=" + id,
            type: "GET",
            success: function (data) {
                var array = JSON.parse(data).rows;
                if (array) {
                    var html = "<option value= - 1>请选择</option>";
                    for (var i = 0; i < array.length; i++) {
                        html += "<option value='" + array[i].Id + "'>" + array[i].Name + "</option>";
                    }
                    $("#AddCatalogId").append(html);
                }

            },
            error: function () {
                alert("错误，请重试！");
            }
        });
        $("#AddCatalogId").append()
    }

    var picString = "";

    $().ready(function () {
        $("#form0").validate({
            ignore: [],
            rules: {
                Num: {
                    required: true
                },
                Name: {
                    required: true
                },
                Specification: {
                    required: true
                },
                picAjax: {
                    required: true
                },
                ParentCatalogId: {
                    required: true
                },
                CatalogId: {
                    required: true
                },
                CostPrice: {
                    required: true,
                    range: [0, 100000000]
                },
                SuggestPrice: {
                    required: true,
                    range: [0, 100000000]
                },
                MaxPrice: {
                    required: true,
                    range: [0, 100000000]
                },
                MinPrice: {
                    required: true,
                    range: [0, 100000000]
                },
                CRMNum: {
                    required: true
                }
            },
            messages: {
                Num: {
                    required: "请填写商品编码"
                    //remote: "用户名已存在",
                },
                Name: {
                    required: "请填写商品名称"
                },
                Specification: {
                    required: "请填写商品型号"
                },
                picAjax: {
                    required: "请上传产品图片"
                },
                ParentCatalogId: {
                    required: "请选择一级品类"
                },
                CatalogId: {
                    required: "请选择二级品类"
                },
                CostPrice: {
                    required: "请填写出厂价",
                    range: "请正确填写出厂价"
                },
                SuggestPrice: {
                    required: "请填写建议售价",
                    range: "请正确填写建议售价"
                },
                MaxPrice: {
                    required: "请填写建议最高价",
                    range: "请正确填写建议最高价"
                }, 
                MinPrice: {
                    required: "请填写建议最低价",
                    range: "请正确填写建议最低价"
                },
                CRMNum: {
                        required: "请填写CRM编码"
                    }
            }
        });

        $("#picAjax").change(function (e) {
            var file = e.delegateTarget.files[0];
            //在此可以对选择的文件进行判断:文件类型 文件大小等
            //.....

            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (ret) {
                picString = reader.result
                //预览图片
                $("#selImg").attr({ "src": picString });
                $("#Cover").val(picString);
            }
        });
    })
</script>

