﻿
<script type="text/javascript">
    function query() {
        jQuery("#jqT").jqGrid('setGridParam', {
            url: "/Product/GetCatalogList?Name=" + jQuery("#name").val()
            + "&Level=" + + jQuery("#Level").val()
        }).trigger("reloadGrid");
    }
    function add() {
        FormDialog("dialog-form", "/Product/AddCatalog", "新增品类");
    }

    function del(id)
    {
        if (confirm("确定要删除该品类吗？")) {
            AjaxPostData("/Product/DelCatalog", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function edit(id) {
        FormDialog("dialog-form", "/Product/UpdCatalog?id="+id, "编辑品类");
    }

    function stop(id) {
        if (confirm("确定要停用该品类吗？")) {
            AjaxPostData("/Company/StopAccount", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }


    function orderInfo(cellvalue, options, rowObject)
    {
        return "<a href='/Order/OrderInfo?OrderId=" + rowObject["Id"] + "' >" + cellvalue + "</a>";
    }
</script>
<div class="agentlist">
    <strong>品类查询</strong>
    <a id="btnExport" onclick="add();">新增品类</a>
</div>
<div class="searchagent">
    <h3>品类名称</h3>
    <input id="name" name="Name" class="input_XSmall">
    <h3>级别</h3>
    <select id="Level" name="Level" class="input_XSmall">
        <option value="-1">所有</option>
        <option value="1">一级</option>
        <option value="2">二级</option>
    </select>
    <a id="btnQuery" onclick="query();">查询</a>
</div>

<div class="listagent">
    @Html.jqGrid("#jqT", "", "GetCatalogList", "'品类编码', '父类名称', '类别名称', '图标','级别','所属公司', '备注','操作'"
      , "{ name: 'Num', sortable: false, align: 'left'},"
      + "{ name: 'ParentName', sortable: false, align: 'left' },"
      + "{ name: 'Name', sortable: false, align: 'left' },"
      //+ "{ name: 'Icon', sortable: false, align: 'left' },"
      + "{ name: 'Icon', autowidth: true,align: 'left', sortable: false,formatter: imageFomatter },"
      + "{ name: 'Level', sortable: false, align: 'left' },"
      + "{ name: 'CompanyName', sortable: false, align: 'left' },"
      + "{ name: 'Remarks', sortable: false, align: 'left' },"
      + "{ name: 'Id', sortable: false, align: 'left', formatter:function(cellvalue, options, rowObject) { return \" <a onclick=\\\"edit('\" + cellvalue + \"')\\\">编辑</a>  <a onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a>\"; }    }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)
<script>
    function imageFomatter(cellvalue, options, rowdata) {
        if (cellvalue != "0")
            return '<img style="width:50px;height:50px" src="' + cellvalue + '" alt="' + cellvalue + '" />';
        //else
        //    return '<img class="alarmimg" src="../Images/128x128/GreenLight.png" alt="' + cellvalue + '" />';
    }
</script>