﻿@using Domain.Model.Products;
<script type="text/javascript">
    function query() {
        jQuery("#jqT").jqGrid('setGridParam', {
            url: "/Product/GetProductList?Name=" + jQuery("#name").val()
            + "&Num=" + jQuery("#Num").val()
            + "&Status=" + jQuery("#Status").val()
            + "&Specification=" + jQuery("#Specification").val()
            + "&ParentCatalogId=" + jQuery("#ParentCatalogId").val()
            + "&CatalogId=" + jQuery("#CatalogId").val()
        }).trigger("reloadGrid");
    }
    function add() {
        FormDialog("dialog-form", "/Product/AddProduct", "新增商品");
    }

    function del(id)
    {
        if (confirm("确定要删除该商品吗？")) {
            AjaxPostData("/Product/DelProduct", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function edit(id) {
        FormDialog("dialog-form", "/Product/UpdProduct?id="+id, "编辑商品");
    }


    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }

</script>
<div class="agentlist">
    <strong>商品查询</strong>
    <a id="btnExport" onclick="add();">新增商品</a>
</div>
<div class="searchagent">
    <h3>商品名称</h3>
    <input id="name" name="Name" class="input_XSmall">
    <h3>商品编码</h3>
    <input id="Num" name="Num" class="input_XSmall">
    <h3>商品状态</h3>
    <select id="Status" name="Status" class="input_XSmall" >
        <option value="-1">请选择</option>
        @{ 
            IList<SelectListItem> productStatusList = (IList<SelectListItem>)ViewData["productStatusList"];
            foreach (SelectListItem item in productStatusList)
            {
                <option value="@item.Value">@item.Text</option>
            }
        }}
    </select>
    <h3>商品型号</h3>
    <input id="Specification" name="Specification" class="input_XSmall">
    <br>
    <h3>品类</h3>
     <select id="ParentCatalogId" name="ParentCatalogId" class="input_XSmall" onchange="changeTwo()">
         <option value="-1">请选择</option>
        @{
            List<Catalog> one = (List<Catalog>)ViewData["One"];
            foreach (Catalog item in one)
            {
                <option value="@item.Id">@item.Name</option>
            }
        }}
    </select>
    <select id="CatalogId" name="CatalogId" class="input_XSmall" >
    </select>
    <a id="btnQuery" onclick="query();">查询</a>
</div>

<div class="listagent">
    @Html.jqGrid("#jqT", "", "GetProductList", "'商品编码', '商品名称', '商品型号', '缩略图','一级品类','二级品类', '建议售价','状态','操作'"
      , "{ name: 'Num', sortable: false, align: 'left'},"
      + "{ name: 'Name', sortable: false, align: 'left' },"
      + "{ name: 'Specification', sortable: false, align: 'left' },"
      + "{ name: 'Cover', autowidth: true,align: 'left', sortable: false,formatter: imageFomatter },"
      + "{ name: 'CatalogOne', sortable: false, align: 'left' },"
      + "{ name: 'CatalogTwo', sortable: false, align: 'left' },"
      + "{ name: 'SuggestPrice', sortable: false, align: 'left' },"
      + "{ name: 'Status', sortable: false, align: 'left' },"
      + "{ name: 'Id', sortable: false, align: 'left', formatter:function(cellvalue, options, rowObject) { return \" <a onclick=\\\"edit('\" + cellvalue + \"')\\\">编辑</a>  <a onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a>\"; }    }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)
<script>
    function changeTwo() {
        var id = $("#ParentCatalogId").val();
        var html = "";
        $("#CatalogId").empty();
         $.ajax({
             url: "/Product/GetCatalogList?rows=10000&page=1&ParentId=" + id,
            type: "GET",
            success: function (data) {
                var array = JSON.parse(data).rows;
                if (array) {
                    var html = "<option value= - 1>请选择</option>";
                    for (var i = 0; i < array.length; i++) {
                        html += "<option value='" + array[i].Id + "'>" + array[i].Name+"</option>";
                    }
                    $("#CatalogId").append(html);
                }

        },
        error: function () {
            alert("错误，请重试！");
        }
    });
        $("#CatalogId").append()
    }
    function imageFomatter(cellvalue, options, rowdata) {
        if (cellvalue != "0")
            return '<img style="width:50px;height:50px" src="' + cellvalue + '" alt="' + cellvalue + '" />';
        //else
        //    return '<img class="alarmimg" src="../Images/128x128/GreenLight.png" alt="' + cellvalue + '" />';
    }
</script>