.profile-env {
    margin-bottom: 30px;
}
.profile-env .user-timeline-stories .timeline-story:last-child {
    margin-bottom: 0;
}
.profile-env .user-timeline-stories .timeline-story {
    position: relative;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
.profile-env .block-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #cacbcb;
}
.profile-env .user-timeline-stories .timeline-story header {
    color: #979898;
    font-size: 14px;
    margin-bottom: 10px;
}
.profile-env .user-timeline-stories .timeline-story header .user-img {
    margin-right: 20px;
    float: left;
}
.profile-env .user-timeline-stories .timeline-story header a {
    color: #646565;
}
.profile-env .user-timeline-stories .timeline-story header .user-img img {
    width: 48px;
}
.profile-env .user-timeline-stories .timeline-story header .user-details {
    display: block;
    padding-top: 5px;
}
.profile-env .user-timeline-stories .timeline-story header time {
    display: block;
    font-size: 12px;
    color: #b1b1b1;
}
.profile-env .user-timeline-stories .timeline-story .story-content {
    display: block;
    padding-left: 70px;
}
.profile-env .user-timeline-stories .timeline-story .story-album {

    padding: 10px;
    margin-bottom:20px;
}
.profile-env .user-timeline-stories .timeline-story .story-content p {
    font-size: 14px;
}
p {
    color: #979898;
}
.profile-env .user-timeline-stories .timeline-story .story-album .col-1 {
    padding-right: 6px;
}
.profile-env .user-timeline-stories .timeline-story .story-options-links {
    padding-top: 10px;
}
.profile-env .user-timeline-stories .timeline-story .story-options-links a {
    display: inline-block;
    color: #979898;
    margin-right: 30px;
}
.profile-env .user-timeline-stories .timeline-story .story-options-links a span {
    display: inline-block;
    zoom: 1;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter: alpha(opacity=90);
}
.profile-env .user-timeline-stories .timeline-story .story-comments {
    border-top: 1px solid #eeeeee;
    margin-top: 20px;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment {
    margin-top: 10px;
}
.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .comment-user-img {
    display: block;
    float: left;
}
.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .comment-user-img img {
    width: 32px;
}
.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .story-comment-content {
    margin-left: 50px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid #eeeeee;
}
.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .story-comment-content .story-comment-user-name {
    display: block;
    font-size: 14px;
    color: #575858;
    margin-bottom: 5px;
}
.profile-env .user-timeline-stories .timeline-story .story-album .col-1, .profile-env .user-timeline-stories .timeline-story .story-album .col-2 {
    display: block;
    float: left;
    width: 50%;
}

.story-comments div{
    padding:5px;
}