﻿@charset "UTF-8";
/* CSS Document */

.leftbox{
	width: 220px;
    background-color: #f8fafb;
    float:right;
    /*position: absolute;*/
    height: 100%;
}

.leftbox a {
	color: #4d4d4d;
    font-size: 14px;
    line-height: 35px;
    margin-left: 56PX;
}
.leftbox img{
    position: absolute;
    margin-left: 155px;
    margin-top: -25px;

}
.leftbox ul{
	background-repeat:no-repeat;
}
.contacts{
    background-image:url(../Images/icon.png);
	margin-top:36px;
    margin-left:15px;
	background-repeat:no-repeat;
}
.lianxiren{
	position: absolute;
    bottom: 215px;
    top: 0px;
    right: 0px;
}
.mycontacts{
	float:right;
	width:47px;
	height:152px;
	
	}
.firm{
	width:47px;
	height:152px;
	position:relative;
	margin-top: 10px;
	margin-left:47px;

	
}
.custom{
	width:47px;
	height:152px;
	position:relative;
	margin-top:10px;
	margin-left:47px;
}
.call{
    margin-top:30px;
}
.yuansu{
    margin: auto;
    position: absolute;

    width: 100%;
}
.muber1{
	position:absolute;
	left:20%;
	top: 6px;
}
.muber2{
	position:absolute;
	left:25%;
	top: 6px;
}
.muber3{
	position:absolute;
	left:30%;
	top: 6px;
}
.text{
	position:absolute;
	left:40%;
	top: -1px;
}
	
.text1{
	width:220px;
    text-rendering: auto;
    font-size:20px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    border: 1px solid black;
    color:#07a7e3;

}
.button{
	text-align:center;
}

input {
    border: 0;
}

.notes {
	margin-top: 320px;
    position: relative;
    margin-right: 220px;
    padding:5px;
}

.leftbox dl {
    margin-top:20px;
    margin-left:15px;
	background-repeat:no-repeat;
    margin-bottom:0px;
}
.leftbox dt {
    background-image:url(../Images/icon.png);
    font-weight:normal; 
	padding-left:56px;
	padding-right:10px;
    font-size:14px;
	background-repeat:no-repeat;
	background-position:0px center;
	color:#4d4d4d;
	position:relative;
	line-height:40px;
	cursor:pointer;
}
.leftbox dd{
	
}
.leftbox dd a{

	line-height:25px;
	font-size:14px;
	margin-left:45px;
}
.leftbox dd a:hover { }
.leftbox dt img{
	position:absolute;
	right:10px;
	top:20px;
}

.leftbox dl dd:last-child { padding-bottom:10px; }