@charset "utf-8";
/*顶部*/
body { background-color:#f1f1f1; }
.logobox, .logbg { 
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.logobox { 	height:94px; }
.logobox img {
	margin-top:22px;
}
.logbgbox {
	width:100%;
	background-color:#00A5E3;
}
.logbg { position:relative; }
.logbox {
	position:absolute;
	top:-15px;
	right:0;
	width:323px;
}
.inputboxbg {
	width:312px;
	height:370px;
	background-color:#F1F1F1;
	position:absolute;
	top:104px;
	right:0;
}
.inputbox { margin:50px 26px 0 26px;}
.inputbox *{ float:right;}
.input {
    padding-top:10px;
	font-size:14px;
	font-weight:bold;
	color:#95a0aa;
	line-height:34px;
	margin-bottom:10px;
}
.input span { margin-right:7px; }
.input_box, .input_box1{
	height:32px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.input_box { width:205px; }
.input_box1 {
	width:145px;
	margin-right:3px;
}
.buttonlog {
     width:140px;
     height:40px;
	 cursor:pointer;
	 background-color:#00A5E3;
	 font-size:14px;
	 line-height:40px;
	 text-align:center;
	 color:white;
	 font-weight:bold;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin:38px 60px 0 0;
}
.logobox p {
	font-size:14px;
	line-height:80px;
	color:#464646;
	text-align:center;
}