﻿@charset "utf-8";

@font-face {font-family: "iconfont";
  src: url('/iconfont.eot'); /* IE9*/
  src: url('/iconfont.eot?#iefix') format('/embedded-opentype'), /* IE6-IE8 */
  url('/iconfont.woff') format('/woff'), /* chrome, firefox */
  url('/iconfont.ttf') format('/truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  color:#07A7E3;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*body { color:#78909c; }*/
.mainbox{ position:inherit;
           height:100%;
}
/*左导航*/
.leftnav {
	width:200px;
	height:100%;
	background-color:#000000;
}
.leftnav img{
	margin:27px 25px;
}
.leftnav a {
	color:#78909c;
	font-size:14px;
	line-height:50px;
	padding:18px 0px 18px 50px;
}
.leftnav ul {
	background-repeat:no-repeat;
	background-position:25px center;
}
.home { background-image:url(/content/images/ico01.png);
        background-repeat:no-repeat;
        background-position:12% center;
}
.issue { background-image:url(/content/images/ico02.png); 
            background-repeat:no-repeat;
        background-position:12% center;
}
.department { background-image:url(/content/images/ico03.png); 
                 background-repeat:no-repeat;
        background-position:12% center;
}
.operator { background-image:url(/content/images/ico04.png);
               background-repeat:no-repeat;
        background-position:12% center;
}
.addressbook { background-image:url(/content/images/ico05.png);
                  background-repeat:no-repeat;
        background-position:12% center;
}
.nickname { background-image:url(/content/images/ico06.png); 
               background-repeat:no-repeat;
        background-position:12% center;
}
.finance { background-image:url(/content/images/ico07.png);
              background-repeat:no-repeat;
        background-position:12% center;
}
.teletraffic {
    background-image: url(/content/images/ico08.png);
    background-repeat: no-repeat;
    background-position: 12% center;
}

/*上导航*/
.main{
    height:100%;
	width:100%;
    position: relative;
	}
.topnav {
    height:80px;
	width:100%;
	background-color:#eceff1;
    position: absolute; 
    top: 0 ; 
    left: 0 ; 
}
.topnav strong {
	float:left;
	font-size:16px;
	line-height:80px;
	margin-left:20px;
}
.toprightnav {
	float:right;
	padding-right:10px;
}
.toprightnav * {
	float:left;
	font-size:16px;
}
.toprightnav span {
	line-height:40px;
	padding:0 20px 0 25px;
	background-image:url(/content/images/ico21.png);
	background-repeat:no-repeat;
	background-position:0 center;
	border-right:solid 2px #ccc;
	height:40px;
	margin-top:20px;
}
.toprightnav img {
	margin:12px;
	float:left;
}
.toprightnav ul{
	background-color:#07a7e3;
	color:white;
	width:100px;
	height:40px;
	line-height:40px;
	margin-top:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	float:left;
	background-image:url(/content/images/ico23.png);
	background-repeat:no-repeat;
	background-position:80px center;
	margin-left:20px;
}


.pmenu {
    background-color:#000000;
}
/*这里是二级菜单框架*/
.secondarymenu {
	width:160px;
	background-color:#000000;
}
.secondarymenu ul{

}

a{ cursor:pointer;}

.tetoff {
    line-height: 40px;
    padding: 18px 00px 0 10px;
    border: 0px;
}


.btnbrown {
	display:inline-block;
	border: 1px solid #007fff;
	padding:0px 15px;
	color: #fbf9f4;
	background: url("../images/bg_button_brown.gif") repeat-x left top #07a7e3;
	line-height: 25px !important;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}