﻿
<script type="text/javascript">
    function query() {
        jQuery("#jqT").jqGrid('setGridParam', {
            url: "/Product/GetCatalogList?Name=" + jQuery("#name").val()
        }).trigger("reloadGrid");
    }
    function add() {
        FormDialog("dialog-form", "/Product/AddCatalog", "新增品类");
    }

    function del(id)
    {
        if (confirm("确定要删除该品类吗？")) {
            AjaxPostData("/Product/DelCatalog", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function edit(id) {
        FormDialog("dialog-form", "/Product/UpdCatalog?id="+id, "编辑品类");
    }

    function stop(id) {
        if (confirm("确定要停用该品类吗？")) {
            AjaxPostData("/Company/StopAccount", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }


    function orderInfo(cellvalue, options, rowObject)
    {
        return "<a href='/Order/OrderInfo?OrderId=" + rowObject["Id"] + "' >" + cellvalue + "</a>";
    }
</script>
<div class="agentlist">
    <strong>品类查询</strong>
    <a id="btnExport" onclick="add();">新增品类</a>
</div>
<div class="searchagent">
    <h3>品类名称</h3>
    <input id="name" name="Name" class="input_XSmall">
    <a id="btnQuery" onclick="query();">查询</a>
</div>

<div class="listagent">
    @Html.jqGrid("#jqT", "", "GetCatalogList", "'品类编码', '父类名称', '类别名称', '图标','级别','所属公司', '备注','操作'"
      , "{ name: 'Num', sortable: false, align: 'left'},"
      + "{ name: 'ParentName', sortable: false, align: 'left' },"
      + "{ name: 'Name', sortable: false, align: 'left' },"
      + "{ name: 'Icon', sortable: false, align: 'left' },"
      + "{ name: 'Level', sortable: false, align: 'left' },"
      + "{ name: 'CompanyName', sortable: false, align: 'left' },"
      + "{ name: 'Remarks', sortable: false, align: 'left' },"
      + "{ name: 'Id', sortable: false, align: 'left', formatter:function(cellvalue, options, rowObject) { return \" <a onclick=\\\"edit('\" + cellvalue + \"')\\\">编辑</a>  <a onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a>\"; }    }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)