﻿@model OrderSystem.Models.Account.UserAccountModel
@{
    Layout = null;
}
@using Common.Enums;
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>用户名：</span>
            @Html.HiddenFor(p => p.Id)
            @Html.TextBoxFor(p => p.UserName, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>密码：</span>
            @Html.TextBoxFor(p => p.UserPwd, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>确认密码：</span>
            @Html.TextBoxFor(p => p.UserCheckPwd, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>角色：</span>
            @Html.TextBoxFor(p => p.RoleID, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>姓名：</span>
            @Html.TextBoxFor(p => p.Name, new { required = "true" })
        </div>

        <div class="fromlist">
            <span>联系电话：</span>
            @Html.TextBoxFor(p => p.Tel, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>用户类别：</span>
            @Html.DropDownListFor(p => p.UserType, Model.UserTypeList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>关联单位：</span>
        </div>
        <div class="fromlist">
            <span>用户状态：</span>
            @Html.DropDownListFor(p => p.UserState, Model.UserStateList, new { required = "" })
        </div>
    </div>
}
