﻿
<script type="text/javascript">
    function query() {
        jQuery("#jqT").jqGrid('setGridParam', {
            url: "/SubordinateCompany/GetSubordinateCompanyList?Name=" + jQuery("#name").val()
            + "&CompanyType=50&Status=" + jQuery("#status").val()
        }).trigger("reloadGrid");
    }
    function add() {
        FormDialog("dialog-form", "/SubordinateCompany/AddSubordinateCompany?CompanyType=50", "新增卖场");
    }

    function del(id)
    {
        if (confirm("确定要删除该卖场吗？")) {
            AjaxPostData("/SubordinateCompany/DelSubordinateCompany", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function edit(id) {
        FormDialog("dialog-form", "/SubordinateCompany/UpdSubordinateCompany?id="+id, "编辑用户");
    }

    function stop(id) {
        if (confirm("确定要停用该卖场吗？")) {
            AjaxPostData("/SubordinateCompany/StopSubordinateCompany ", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }


    function orderInfo(cellvalue, options, rowObject)
    {
        return "<a href='/Order/OrderInfo?OrderId=" + rowObject["Id"] + "' >" + cellvalue + "</a>";
    }
</script>
<div class="agentlist">
    <strong>卖场查询</strong>
    <a id="btnExport" onclick="add();">新增卖场</a>
</div>
<div class="searchagent">
    <h3>卖场名称</h3>
    <input id="name" name="name" class="input_XSmall">
    <h3>状态</h3>
    <select id="status" name="status" class="input_XSmall">
        <option value="-1">所有</option>
        <option value="1">正常</option>
        <option value="2">停用</option>
    </select>
    <a id="btnQuery" onclick="query();">查询</a>
</div>

<div class="listagent">
    @Html.jqGrid("#jqT", "", "GetSubordinateCompanyList?CompanyType=50", "'卖场编码', '卖场名称', '状态', '联系人', '联系电话1', '联系电话2','省','市','区','详细地址','备注','操作'"
      , "{ name: 'Num', sortable: false, align: 'left'},"
      + "{ name: 'Name', sortable: false, align: 'left' },"
      + "{ name: 'Status', sortable: false, align: 'left' },"
      + "{ name: 'Contacts', sortable: false, align: 'left' },"
      + "{ name: 'ContactTel1', sortable: false, align: 'left' },"
      + "{ name: 'ContactTel2', sortable: false, align: 'left' },"
      + "{ name: 'Province', sortable: false, align: 'left' },"
      + "{ name: 'City', sortable: false, align: 'left' },"
      + "{ name: 'County', sortable: false, align: 'left' },"
      + "{ name: 'Address', sortable: false, align: 'left' },"
      + "{ name: 'Remarks', sortable: false, align: 'left' },"
      + "{ name: 'Id', sortable: false, align: 'left', formatter:function(cellvalue, options, rowObject) { return \" <a onclick=\\\"edit('\" + cellvalue + \"')\\\">编辑</a>  <a onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a> <a onclick=\\\"stop('\" + cellvalue + \"')\\\">停用</a>\"; }    }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)