﻿@model OrderSystem.DeleteConfirmationModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">确认该操作</h4>
        </div>
        @using (Html.BeginForm(Model.ActionName, Model.ControllerName, new { id = Model.Id }))
        {
            <div class="form-horizontal">
                <div class="modal-body">
                    确认删除？
                </div>
                <div class="modal-footer">
                    <span class="btn btn-default" data-dismiss="modal">取消</span>
                    <button type="submit" class="btn btn-primary pull-right">
                        删除
                    </button>
                </div>
            </div>
        }
    </div>
</div>
