﻿@model OrderSystem.Areas.Mobile.Views.Models.OrderModel
@{

    ViewBag.Title = "添加订单";
}

@Html.Action("AddOrder")
<div id="msg" class='weui-popup__container'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        @Html.Action("AddOrderProducts")
    </div>
</div>

        @*<script type="text/html" id="tpl_home">
                <div class="page">
                    @Html.Action("AddOrder")
                </div>
            </script>
            <script type="text/html" id="tpl_msg">
                <div class="page">
                    @Html.Action("AddOrderProducts")

            </div>
            </script>*@
