﻿@model OrderSystem.Areas.Mobile.Views.Models.OrderModel
@{
    ViewBag.Title = "添加订单";
    Layout = null;
}

    @Html.Partial("_Header")
        @using (Html.BeginForm("AddOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="addOrder">
                <div>
                    <div class="weui-cells__title">所属门店</div> <div class="weui-cells">
                        <div class="vux-selector weui-cell">
                            <!----> <div class="weui-cell__bd">
                           
                                        <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">@Model.MDName</label> <!---->
                                @*@Html.DropDownListFor(p => p.MDId, Model.AvailableMD, new { required = "", ddd = "#A9A9A9", @class = "weui-select", style = "color: rgb(169, 169, 169);" })*@

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="weui-cells__title">顾客信息</div>
                    <div class="weui-cells">
                       
                        <div class="vux-x-input weui-cell">
                            <div class="weui-cell__hd">
                                <!---->
                                <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">姓名</label> <!---->
                            </div> <div class="weui-cell__bd weui-cell__primary">
                                @Html.TextBoxFor(p => p.CustomerName, new { placeholder = "请输入顾客姓名", @class = "weui-input" })

                            </div>
                            <div class="weui-cell__ft">
                                <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i>
                                <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i> <!---->
                                <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i>
                                <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
                            </div>
                        </div> <div class="vux-x-input weui-cell">
                            <div class="weui-cell__hd">
                                <!---->
                                <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">电话1</label> <!---->
                            </div> <div class="weui-cell__bd weui-cell__primary">
                                @Html.TextBoxFor(p => p.CustomerTel1, new { placeholder = "请输入电话1", @class = "weui-input" })
                            </div>
                            <div class="weui-cell__ft">
                                <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i> <!---->
                                <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;">
                                </i>
                            </div>
                        </div> <div class="vux-x-input weui-cell">
                            <div class="weui-cell__hd"><!----> <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">电话2</label> <!----></div>
                            <div class="weui-cell__bd weui-cell__primary">
                                @Html.TextBoxFor(p => p.CustomerTel2, new { placeholder = "请输入电话2", @class = "weui-input" })
                            </div> <div class="weui-cell__ft">
                                <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i> <!---->
                                <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i>
                                <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
                            </div>
                        </div> <div>
                            <div class="vux-cell-box">
                                <div class="weui-cell vux-tap-active weui-cell_access">
                                    <div class="weui-cell__hd"><label class="weui-label" style="display: block; width: 4.5em; text-align: left; margin-right: 2em;">区域</label> <!----></div> <div class="vux-cell-primary vux-popup-picker-select-box">
                                        <div class="vux-popup-picker-select" style="text-align: right;">
                                            @*<a href=javascript:; id=cascadePickerBtn class="weui-btn weui-btn_default">Cascade-Picker</a>*@
                                           @Html.TextBoxFor(p => p.AreaAddress, new { @class = "weui-input" })
                                             @*@Html.DropDownListFor(p => p.AreaId, Model.AvailableArea, new { required = "", ddd = "#A9A9A9", @class = "weui-select", style = "color: rgb(169, 169, 169);" })*@
                                        </div>
                                    </div> <div class="weui-cell__ft"></div>
                                </div> <!---->
                            </div>
                        </div>
                        <div class="vux-x-input weui-cell">
                            <div class="weui-cell__hd">
                                <!---->
                                <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">地址</label> <!---->
                            </div> <div class="weui-cell__bd weui-cell__primary">
                                @Html.TextBoxFor(p => p.Address, new { placeholder = "请输入地址", @class = "weui-input" })
                            </div>
                            <div class="weui-cell__ft">
                                <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i> <!---->
                                <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;">
                                </i>
                            </div>
                        </div>
                        <div class="vux-x-input weui-cell">
                            <div class="weui-cell__hd">
                                <!---->
                                <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">备注</label> <!---->
                            </div> <div class="weui-cell__bd weui-cell__primary">
                                @Html.TextBoxFor(p => p.Remarks, new { placeholder = "请输入备注", @class = "weui-input" })
                            </div>
                            <div class="weui-cell__ft">
                                <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i> <!---->
                                <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i> <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="weui-cells__title">送装时间</div>
                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label for="date2" class="weui-label">送装时间</label></div>
                            <div class="weui-cell__bd">
                                @*<input class="weui-input" id="date3" type="text">*@
                                @Html.TextBoxFor(p => p.RequireDeliveryTime, new { @class = "weui-input" })
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label for="date2" class="weui-label">安装时间</label></div>
                            <div class="weui-cell__bd">
                                @Html.TextBoxFor(p => p.RequireInstallTime, new { @class = "weui-input" })
                            </div>
                        </div>
                       
                        <div class="vux-selector weui-cell weui-cell_select weui-cell_select-after">
                            <div class="weui-cell__hd"><label for="vux-selector-clo55" class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">服务商</label></div>
                            <div class="weui-cell__bd">
                                @Html.DropDownListFor(p => p.FWSID, Model.AvailableFWS, new { required = "", @class = "weui-select", style = "color: rgb(169, 169, 169);" })
                            </div>
                        </div> <div class="vux-x-input weui-cell">
                            <div class="weui-cell__hd">
                                <!---->
                                <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">服务技师</label> <!---->
                            </div> <div class="weui-cell__bd weui-cell__primary">
                                @Html.TextBoxFor(p => p.FWSUserName, new { @class = "weui-input" })
                            </div>
                            <div class="weui-cell__ft">
                                <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i>
                                <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i> <!---->
                                <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;">                    </i>
                                <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i>
                                <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a data-target="#msg"  href="javascript:;" class="open-popup weui-btn weui-btn_mini weui-btn_primary" style="background-color: rgb(23, 197, 195);float:right; margin:5px;">添加商品</a>
                    <div class="weui-cells__title" style="height:40px">购买商品</div> <div class="weui-cells" id="orderItems">
                        @*<div class="vux-x-input weui-cell">
        <div class="weui-cell__hd" style="width:60%">
            <label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">商品</label> <!---->
        </div> <div class="weui-cell__bd">
            <span>数量</span>
        </div>
        <div class="weui-cell__bd">
            <a style="color:red">删除</a>
        </div>
    </div>
    <div class="vux-x-input weui-cell"><div class="weui-cell__hd" style="width:60%"><label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">商品</label></div> <div class="weui-cell__bd"><span>12</span></div><div class="weui-cell__bd"><a onclick="delItem(this);" style="color:red">删除</a></div></div>*@
                    </div>

                </div>
                <div><div class="weui-cells__title">图片上传</div> <div class="weui-cells"> <div class="weui-uploader" style="padding: 15px;"> <div class="weui-uploader__bd"><ul id="uploaderFiles" class="weui-uploader__files"><li class="weui-uploader__file" style="background-image: url(&quot;null&quot;); display: none;"></li></ul> <div class="weui-uploader__input-box"><input id="uploaderInput" name="file" type="file" accept="image/*" class="weui-uploader__input"></div></div></div></div></div>


            </div>
            <flexbox style="text-align:center; right: 10px; margin: 10px;"><button type="submit" class="weui-btn weui-btn_mini weui-btn_primary" style="background-color: rgb(23, 197, 195);"><!---->保存商品订单</button></flexbox>
        }

        <script type="text/javascript">
            $(function () {

                $("#RequireDeliveryTime").calendar({
                    value: ['2016-12-12'],
                    dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
                });
                $("#RequireInstallTime").calendar({
                    value: ['2016-12-12'],
                    dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
                });

                var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
                    $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
                    $uploaderInput = $("#uploaderInput"),
                    $uploaderFiles = $("#uploaderFiles")
                ;

                $uploaderInput.on("change", function (e) {
                    var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
                    for (var i = 0, len = files.length; i < len; ++i) {
                        var file = files[i];

                        if (url) {
                            src = url.createObjectURL(file);
                        } else {
                            src = e.target.result;
                        }

                        $uploaderFiles.append($(tmpl.replace('#url#', src)));
                    }
                });
                $uploaderFiles.on("click", "li", function () {
                    $galleryImg.attr("style", this.getAttribute("style"));
                    $gallery.fadeIn(100);
                });
                $gallery.on("click", function () {
                    $gallery.fadeOut(100);
                });
            });

            $("#AreaAddress").cityPicker({
                title: "选择目的地"
            });
        </script>
    