﻿@model List<Domain.Model.Products.Product>
@{
    ViewBag.Title = "销售统计";
}
<style type="text/css">
    .vux-table {
        line-height: 40px;
        position: relative;
        width: 100%;
        border-collapse: collapse;
        text-align:center;
    }
</style>
    @Html.Partial("_Header")

<div style="margin-top:10px" class="weui-tab">
    <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
            销售统计日报表
        </a>
        <a class="weui-navbar__item" href="#tab2">
            销售统计月报表
        </a>

    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div>
                <div class="weui-cells">
                    
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label for="date2" class="weui-label">订单开始日期</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="startTime" placeholder="请选择开始时间" type="text">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label for="date2" class="weui-label">订单结束日期</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="endTime" placeholder="请选择结束时间" type="text">
                        </div>
                    </div>

                    <div class="vux-selector weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd"><label for="vux-selector-clo55" class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">订单状态</label></div>
                        <div class="weui-cell__bd">
                            @Html.DropDownList("StatusId", Common.Enums.EnumExtensions.GetSelectList<Domain.Model.Orders.OrderStatus>(), new { required = "", @class = "weui-select" })
                        </div>
                    </div>
                </div>
            </div> <div class="vux-flexbox vux-flex-row" style="padding: 10px;"><div class="vux-flexbox-item" style="margin-left: 8px;"><button onclick="search();" class="weui-btn weui-btn_primary"><!---->查询</button></div></div>
            <div>
                <table id="result" class="vux-table vux-table-no-cell-bordered vux-table-no-content-bordered" style="background-color: rgb(255, 255, 255);">
                    <thead>
                        <tr style="background-color: rgb(247, 247, 247);">
                            <th>时间</th>
                            <th>订单总数</th>
                            <th>商品总数</th>
                            <th>总金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <div class="animation_image" style="text-align:center">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                </div>
            </div>
           

        </div>
        <div id="tab2" class="weui-tab__bd-item">
            <div>
                <div class="weui-cells">

                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label for="date2" class="weui-label">订单开始日期</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="tb2startTime" placeholder="请选择开始时间" type="text">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label for="date2" class="weui-label">订单结束日期</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="tb2endTime" placeholder="请选择结束时间" type="text">
                        </div>
                    </div>

                    <div class="vux-selector weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd"><label for="vux-selector-clo55" class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">订单状态</label></div>
                        <div class="weui-cell__bd">
                            @Html.DropDownList("tb2StatusId", Common.Enums.EnumExtensions.GetSelectList<Domain.Model.Orders.OrderStatus>(), new { required = "", @class = "weui-select" })
                        </div>
                    </div>
                </div>
            </div> <div class="vux-flexbox vux-flex-row" style="padding: 10px;"><div class="vux-flexbox-item" style="margin-left: 8px;"><button onclick="search();" class="weui-btn weui-btn_primary"><!---->查询</button></div></div>
            <div>
                <table id="tb2result" class="vux-table vux-table-no-cell-bordered vux-table-no-content-bordered" style="background-color: rgb(255, 255, 255);">
                    <thead>
                        <tr style="background-color: rgb(247, 247, 247);">
                            <th>时间</th>
                            <th>订单总数</th>
                            <th>商品总数</th>
                            <th>总金额</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="animation_image tb2animation_image" style="text-align:center">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="~/Areas/Mobile/Content/js/loadmore.js"></script>
<script type="text/javascript">
    function search()
    {
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        var status = $("#StatusId").val();
        $("#result tbody").html("");
        $(".animation_image").loadMore("/Mobile/Sales/GetDayOrders?startTime=" + startTime + "&endTime=" + endTime + "&status=" + status, appendResult);
    }
    function appendResult(obj)
    {
        $(obj).each(function (i, e) {
            $("#result").append('<tr><td>' + e.Day + '</td> <td>' + e.Count + '</td> <td>' + e.OrderItemsCount + '</td> <td>' + e.Totals + '</td></tr>');
        });
    }
    
    $(".animation_image").loadMore("/Mobile/Sales/GetDayOrders", appendResult);

    $("#startTime").calendar({
        value: ['2016-12-12'],
        dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
    });
    $("#endTime").calendar({
        value: ['2016-12-12'],
        dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
    });

    // tab2
    
    function tb2search() {
        var startTime = $("#tb2startTime").val();
        var endTime = $("#tb2endTime").val();
        var status = $("#tb2StatusId").val();
        $("#tb2result tbody").html("");
        $(".tb2animation_image").loadMore("/Mobile/Sales/GetMonthOrders?startTime=" + startTime + "&endTime=" + endTime + "&status=" + status, tb2appendResult);
    }
    function tb2appendResult(obj) {
        $(obj).each(function (i, e) {
            $("#tb2result").append('<tr><td>' + e.Day + '</td> <td>' + e.Count + '</td> <td>' + e.OrderItemsCount + '</td> <td>' + e.Totals + '</td></tr>');
        });
    }

    $(".tb2animation_image").loadMore("/Mobile/Sales/GetMonthOrders", tb2appendResult);

    $("#tb2startTime").calendar({
        value: ['2016-12-12'],
        dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
    });
    $("#tb2endTime").calendar({
        value: ['2016-12-12'],
        dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
    });
</script>