﻿@model List<Domain.Model.Products.Product>
@{
    ViewBag.Title = "添加商品";
    Layout = null;
}
@Html.Partial("_Header")
    <div id="addItems">
        <div class="vux-flexbox items-sort vux-flex-row">
            <div class="vux-flexbox-item" style="margin-left: 8px; flex: 0 0 33.3333%;">
                <div class="select-container">
                    @Html.DropDownList("CatalogId", ViewData["Catalog"] as IList<SelectListItem>, new { required = "" })
                </div>
            </div>
            <div class="vux-flexbox-item" style="margin-left: 8px; flex: 0 0 66.6667%;">
                <div class="input-container"><input type="text" placeholder="请输入名称或编码"></div>
            </div>
        </div> <div class="vux-flexbox items-present vux-flex-col">
            @foreach(var m in Model)
            {
                <div class="vux-flexbox-item list-item" style="width:100%; margin-top: 8px;">
                    <div class="vux-flexbox vux-flex-row">
                        <div class="vux-flexbox-item item-detail" style="margin-left: 8px; flex: 0 0 65%;">
                            <div>
                                <p class="item-name">@m.Name</p> <p class="item-code">商品编码：@m.Num    价格: @m.SuggestPrice 元</p>
                                <div class="item-available" style="line-height:35px">
                                    可售数量: @m.ProductStores.Sum(p => p.Quantity)
                                    <span style="padding-left:40px;">购买数量:</span>
                                    
                                    <input type="text" id="quantity@(m.Id)" style="width:60px;padding-left:10px" />
                                </div>
                            </div>
                        </div>
                        <div onclick="addproduct(@m.Id,'@m.Name');" class="vux-flexbox-item item-add" style="min-height:100px; flex: 0 0 25%;">
                            <svg type="ios-plus-outline" size="30" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512" class="vux-x-icon vux-x-icon-ios-plus-outline"><path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7S150.9 65.3 256 65.3 446.7 150.9 446.7 256 361.1 446.7 256 446.7z"></path><path d="M264.1 128h-16.8v119.9H128v16.8h119.3V384h16.8V264.7H384v-16.8H264.1z"></path></svg>
                            <span>添加</span>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
    <script type="text/javascript">
        function addproduct(productid,productName) {
            var pq = $("#quantity" + productid).val();
            var qu = parseInt(pq);
            if (isNaN(qu))
            {
                alert("请输入正确的购买数量!");
                return;
            }
            var tmpl = '<input type="hidden" value="'+productid+'_'+qu+'" name="productQuantity" /><div class="vux-x-input weui-cell"><div class="weui-cell__hd" style="width:60%"><label class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">#productName#</label></div> <div class="weui-cell__bd"><span>#quantity#</span></div><div class="weui-cell__bd"><a onclick="delItem(this);" style="color:red">删除</a></div></div>';
            tmpl = tmpl.replace('#productName#', productName).replace('#quantity#', qu);

            $("#orderItems").append($(tmpl));
            history.back();
            //AjaxGetData("/Mobile/Order/addproduct","orderId="+orderId+"&productId="+productid+"&quantity="+pq,function()
            //{
            //    alert("操作成功！");
            //})
        }
        function delItem(obj)
        {
            var removeObj = obj.parentNode.parentNode;
            removeObj.parentNode.removeChild(removeObj);
            alert(obj.parentNode.parentNode.parentNode.innerHTML)
        }
    </script>

    <style>
        #addItems {
            display: flex;
            flex-direction: column;
            background: #F9F9F9;
            overflow: auto;
            flex: 1;
        }

            #addItems .items-sort {
                margin: 5px 0;

                background: #ffffff;
                padding: 0 0.3rem;
                /*flex: 0 0 1.4rem;*/
            }

        .select-container select {
            width: 100%;
            border-radius: 8px;
            min-height: 30px;
            background: #f9f9f9;
        }

        .input-container input {
            border-radius: 8px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 1px solid rgb(169, 169, 169);
            min-height: 30px;
            background: #f9f9f9;
            padding: 0 45px;
        }

        .items-present .list-item {
            background: #ffffff;
            overflow: hidden;
            min-height: 4rem;
        }

            .items-present .list-item .item-detail {
                padding: 10px;
            }

            .items-present .list-item .item-add {
                background: #17C5C3;
                min-height: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .items-present .list-item .item-add > * {
                    flex: 1;
                    color: #ffffff;
                }

                .items-present .list-item .item-add .vux-x-icon {
                    fill: #ffffff;
                }

            .items-present .list-item p {
                line-height: 35px;

            }
            .vux-flexbox {
        text-align: left;
        display: -webkit-box;
        display: flex;
        display: -webkit-flex;
        box-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
