﻿@model OrderSystem.Areas.Mobile.Views.Models.OrderModel
@{

    ViewBag.Title = "添加订单";
}

<script type="text/html" id="tpl_home">
    <div class="page">
        @Html.Action("AddOrder")
    </div>
</script>
<script type="text/html" id="tpl_msg">
    <div class="page">
        @Html.Action("AddOrderProducts")
         
</div>
</script>
