﻿@charset "utf-8";
/* CSS Document */
.agentlistbox {
	width:100%;
    top: 80px; 
    bottom: 0; 
    left: 0;
    background-image:url(../images/bg.png);
	background-repeat:no-repeat;
	background-position:center 80px;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 
	-webkit-background-size:100% 100%; 
}
.agentlist {
	padding:30px 0 0 20px;
    height:60px;
}
.agentlist strong {
	font-size:18px;
	float:left;
    color: #78909c;
}
.agentlist a {
	margin-right:10px;
	font-size:14px;
	float:right;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	background-color:#f8fafb;
	color:#07A7E3;
	/*width:56px;*/
	height:30px;
	line-height:30px;
	text-align:center;
    padding-left:10px;
    padding-right:10px;
}
.searchagent {
	margin-top:10px;
	background-color:#f8fafb;
	padding-left:10px;
}

.searchagent h3{
    display: inline-block;
	line-height:30px;
	margin-left:10px;
}

.searchagent input{
	margin:8px 20px 0 10px;
	height:22px;
	background-color:white;
	border: solid 1px #c5c5c5;
	line-height:14px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.searchagent select{
	margin:8px 20px 0 10px;
	height:24px;
	background-color:white;
	border: solid 1px #c5c5c5;
	line-height:14px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.input_agent {
	width:8%;
}
.input_begintime {
	width:19%;
}
.input_Small {
	width:19%;
}
.input_XSmall {
	width:15%;
}
.input_XXSmall {
	width:11%;
}
.input_XXXSmall {
	width:8%;
}
.input_XXXXSmall {
	width:5%;
}
.input_finetime {
	width:19%;
}
.input_callresult {
	width:5%;
}

.searchagent a {
	margin:5px 20px 0px 0px;
	font-size:14px;
	float:right;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	background-color:white;
	color:#78909c;
	width:56px;
	height:30px;
	line-height:30px;
	text-align:center;
}
.listagent {
    padding	:2px;
    margin-top:10px;
}

.fromlistbox {
    padding:0px;
    margin:0px;
	background-color:#f8fafb;
	width:100%;
}
.fromlist { width:100%;}
.fromlist span{
	margin-left:20px;
	width:100px;
    display:inline-block;
	line-height:40px;
}
.fromlist input {
	/*margin:8px 20px 0 10px;*/
	height:22px;
	background-color:white;
	border: solid 1px #f1f1f1;
	line-height:14px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
} 
 .fromlist div{
        display:inline;
    }
 .fromcontrol {
	margin:8px 20px 0 10px;
	height:22px;
	background-color:white;
	border: solid 1px #f1f1f1;
	line-height:14px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.mybtn {
    background-color:#f8fafb;
    color:#07A7E3;
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mybtn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.mybtn:hover,
.mybtn:focus {
  color: #333333;
  text-decoration: none;
}

.mybtn:active,
.mybtn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.mytable{ 
table-layout:fixed; 
empty-cells:show; 
border-collapse: collapse; 
margin:0 auto; 
border:1px solid #cad9ea; 
color:#666; 
} 
.mytable td{ 
height:30px; 
} 

.mytable th { 
background-repeat:repeat-x; 
height:30px; 
} 
.mytable td,.mytable th{ 
border:1px solid #cad9ea; 
padding:0 1em 0; 
} 
.mytable tr.alter{ 
background-color:#f5fafe; 
} 