﻿@charset "utf-8";


/* CSS Document */
.contentbox {
    height:100%;
	width:100%;
	top:80px;
	background-image:url(../images/bg.png);
	background-repeat:no-repeat;
	background-position:center 80px;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 
	-webkit-background-size:100% 100%; 
}
.content {
	width:520px;
	margin-left:auto;
	margin-right:auto;
    padding-top:200px;
	}
.imgbox {
	width:100px;
	margin-right:30px;
	float:left;
}
.imgbox * { float:left; }
.imgbox strong {
	background-color:#07a7e3;
	color:white;
	width:100px;
	height:40px;
	line-height:40px;
	margin-top:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	float:left;
	font-size:16px;
	text-align:center;
}
.content ul {
	font-size:24px;
	line-height:36px;
	font-weight:bold;
}
.content li {
	
	font-size:18px;
	line-height:30px;
}
.color263238 { color:#263238; }
.color07a7e3 { color:#07a7e3; }

.ui-state-active a
{
    color:white;
}
