﻿@model List<OrderSystem.Areas.Mobile.Views.Models.ProductStoreListModel>
@{
    ViewBag.Title = "库存查询";
}

    @Html.Partial("_Header")
    <div id="addItems">
        <div>
            <div class="weui-cells">
                <div class="vux-selector weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label for="vux-selector-clo55" class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">订单状态</label></div>
                    <div class="weui-cell__bd">
                        @Html.DropDownList("StoreId", ViewData["Store"] as IList<SelectListItem>, new { required = "", @class = "weui-select" })
                    </div>
                </div>
                <div class="vux-selector weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label for="vux-selector-clo55" class="weui-label" style="width: 4.5em; text-align: left; margin-right: 2em;">订单状态</label></div>
                    <div class="weui-cell__bd">
                        @Html.DropDownList("CatalogId", ViewData["Catalog"] as IList<SelectListItem>, new { required = "", @class = "weui-select" })
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="date2" class="weui-label">商品名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" id="productName" placeholder="请输入名称" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="vux-flexbox vux-flex-row" style="padding: 10px;"><div class="vux-flexbox-item" style="margin-left: 8px;"><button onclick="search();" class="weui-btn weui-btn_primary"><!---->查询</button></div></div>
@*@foreach (var m in Model)
{
        <div class="vux-flexbox items-present vux-flex-col">
            <div class="vux-flexbox-item list-item" style="margin-top: 8px;">
                <p class="item-name">@m.ProductName</p>
                <p class="item-code">商品编码：@m.Num</p>
                <p class="storage-status">实物库存： @m.Quantity     可售库存：@m.ActualQuantity</p>
            </div>
        </div>
}*@
        <div id="result" style="width:100%">

        </div>
        <div class="animation_image" style="text-align:center">
            <div class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </div>

<script src="~/Areas/Mobile/Content/js/loadmore.js"></script>
<script type="text/javascript">
    function search() {
        var StoreId = $("#StoreId").val();
        var CatalogId = $("#CatalogId").val();
        var productName = $("#productName").val();
        $("#result").html("");
        $(".animation_image").loadMore("/Mobile/Storage/GetAllStorage?productName=" + productName + "&StoreId=" + StoreId + "&CatalogId=" + CatalogId, appendResult);
    }
    function appendResult(obj) {
        $(obj).each(function (i, e) {
            var tmpl = '<div class="vux-flexbox items-present vux-flex-col">'
                    + '    <div class="vux-flexbox-item list-item" style="margin-top: 8px;">'
                    + '        <p class="item-name">'+e.ProductName+'</p>'
                    + '        <p class="item-code">商品编码：'+e.Num+'</p>'
                    + '        <p class="storage-status">实物库存： '+e.Quantity+'     可售库存：'+e.ActualQuantity+'</p>'
                    + '    </div>'
                    + '</div>';
            $("#result").append(tmpl);
        });
    }

    $(".animation_image").loadMore("/Mobile/Storage/GetAllStorage", appendResult);

    //$("#startTime").calendar({
    //    value: ['2016-12-12'],
    //    dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
    //});
    //$("#endTime").calendar({
    //    value: ['2016-12-12'],
    //    dateFormat: 'yyyy年mm月dd日'  // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
    //});
</script>

    <style>
        #addItems {
            display: flex;
            flex-direction: column;
            background: #F9F9F9;
            overflow: auto;
            flex: 1;
        }

            #addItems .items-sort {
                margin: 5px 0;
                background: #ffffff;
                padding: 0 0.3rem;
                /*flex: 0 0 1.4rem;*/
            }

        .select-container select {
            width: 100%;
            border-radius: 8px;
            min-height: 30px;
            background: #f9f9f9;
        }

        .input-container input {
            border-radius: 8px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 1px solid rgb(169, 169, 169);
            min-height: 30px;
            background: #f9f9f9;
            padding: 0 45px;
        }

        .items-present .list-item {
            background: #ffffff;
            overflow: hidden;
            min-height: 4rem;
        }

            .items-present .list-item .item-detail {
                padding: 10px;
            }

            .items-present .list-item .item-add {
                background: #17C5C3;
                min-height: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .items-present .list-item .item-add > * {
                    flex: 1;
                    color: #ffffff;
                }

                .items-present .list-item .item-add .vux-x-icon {
                    fill: #ffffff;
                }

            .items-present .list-item p {
                line-height: 35px;
            }

.vux-flexbox {
        text-align: left;
        display: -webkit-box;
        display: flex;
        display: -webkit-flex;
        box-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
 .vux-flexbox-item {
     padding:10px;
    width: 95%;
}
 .vux-flex-col {
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
     flex-direction: column; 
}
    </style>
