﻿
<script type="text/javascript">
    function queryTel() {
        //var txtCompanyCode = jQuery("#txtsCompanyCode").val();
        var txtCompanyName = jQuery("#txtsCompanyName").val();
        //var txtParentUserName = jQuery("#txtsParentUserName").val();
        //var ddlState = jQuery("#ddlsState").val();
        jQuery("#jqT").jqGrid('setGridParam', { url: "/Company/GetCompanyList?companyCode=" + "txtCompanyCode" + "&companyName=" + txtCompanyName + "&companyState=" + "ddlState" }).trigger("reloadGrid");
    }
    function add() {
        FormDialog("dialog-form", "/Order/AddOrder", "新增订单");
    }
    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }
    function upd(id)
    {
        FormDialog("dialog-form", "/Order/UpdOrder?id=" + id, "修改订单");
    }
    function del(id)
    {
        AjaxPostData("/Order/DelOrder", "id=" + id, function () {
            jQuery("#jqT").trigger("reloadGrid");
        });
    }

    function orderInfo(cellvalue, options, rowObject)
    {
        return "<a href='/Order/OrderInfo?OrderId=" + rowObject["Id"] + "' >" + cellvalue + "</a>";
    }
</script>
<div class="agentlist">
    <strong>入库单查询</strong>
    <a id="btnExport" onclick="add();">添加入库单</a>
    <a id="btnExport" onclick="add();">导出</a>
</div>
<div class="searchagent">
    <h3>单据编号</h3>
    <input id="txtTitle" class="input_XSmall">
    <h3>单据状态:</h3>
    <select id="ddlquestiontype" name="ddlquestiontype" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <h3>建单时间</h3>
    <input id="txtTitle" class="input_XSmall">-<input id="txtTitle" class="input_XSmall">
<br />
    <h3>仓库:</h3>
    <select id="ddlquestiontype" name="ddlquestiontype" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <a id="btnQuery" onclick="queryTel();">查询</a>
</div>

<div class="listagent">
    @Html.jqGrid("#jqT", "", "GetInStoreOrderList", "'单据编号', '订单状态',  '仓库', '所属单位', '单位类别','备注','入库时间','建单时间','建单人','操作'"
      , "{ name: 'Num', sortable: false, align: \"center\", formatter:orderInfo },"
      + "{ name: 'Status', sortable: false, align: 'center' },"
      + "{ name: 'StoreName', sortable: false, align: 'center' },"
      + "{ name: 'SubordinateCompanyName', sortable: false, align: 'center' },"
      + "{ name: 'SubordinateCompanyTypeName', sortable: false, align: 'center' },"
      + "{ name: 'Remarks', sortable: false, align: 'center' },"
      + "{ name: 'InStoreTime', sortable: false, align: 'center' },"
      + "{ name: 'CreateTime', sortable: false, align: 'center' },"
      + "{ name: 'CreateUserName', sortable: false, align: 'center' },"
      + " {name: 'Id', sortable: false, align: 'center', formatter:        function(cellvalue, options, rowObject) { return \" <a  onclick=\\\"upd('\" + cellvalue + \"')\\\">编辑</a>  <a  onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a>\"; }    }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)