﻿@model OrderSystem.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="~/Content/css/logo.css">
    <title>广东万家乐物流配送系统1.0</title>
</head>
<body style="background-image:url(/Content/Images/bg1.png);">
<div class="leftbox">
</div>
<div class="rightbox">
    <h3>管理员登录</h3>
   @using (Html.BeginForm())
   {
        <div id="J-form-error" style="height:20px;color:red;margin-bottom:6px;">@Html.ValidationSummary(true)</div>
        <div class="form-group">
            <label class="sr-only" for="inputEmail">用户名:</label>
            <input type="text" class="form-control" name="UserName">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputPassword">密码:</label>
            <input type="password"  class="form-control" name="Password">
        </div>
        <input type="submit" class="btn btn-primary btn-block" style="margin-top:38px;" value="登陆">
   }
    <footer class="page-copyright">
        <p>© 2017. 辰信广通电信技术（北京）有限公司</p>

    </footer>
</div>
		</body>
</html>
