﻿@model OrderSystem.Models.Orders.OrderModel

@{
    Layout = null;
}

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>订单编号：</span>
            @Html.TextBoxFor(p => p.OrderNum, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>经销商：</span>
            @Html.DropDownListFor(p => p.JXSId, Model.AvailableJXS, new { required = "" })
        </div>
        <div class="fromlist">
            <span>卖场：</span>
            @Html.DropDownListFor(p => p.MDId, Model.AvailableMD, new { required = "" })
        </div>
        <div class="fromlist">
            <span>导购：</span>
            @Html.DropDownListFor(p => p.DG, Model.AvailableDG, new { required = "" })
        </div>
        <div class="fromlist">
            <span>客户名称：</span>
            @Html.TextBoxFor(p => p.CustomerName)
        </div>

        <div class="fromlist">
            <span>联系电话：</span>
            @Html.TextBoxFor(p => p.CustomerTel1, new { style="width:120px", required = "true" })/
            @Html.TextBoxFor(p => p.CustomerTel2, new { style = "width:120px" })
        </div>
        <div class="fromlist">
            <span>收货地址：</span>
            @Html.TextBoxFor(p => p.Address, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>送货时间：</span>
            @Html.TextBoxFor(p => p.WLDeliverTime)
        </div>
        <div class="fromlist">
            <span>安装时间：</span>
            @Html.TextBoxFor(p => p.FWSUserCompleteTime)
        </div>
        <div class="fromlist">
        <span>服务商：</span>
            @Html.DropDownListFor(p => p.FWSID, Model.AvailableFWS, new { required = "" })
    </div>
    <div class="fromlist">
        <span>仓库：</span>
        @Html.DropDownListFor(p => p.StoreId, Model.AvailableStore, new { required = "" })

    </div>
        <div class="fromlist">
            <span>备注：</span>
            @Html.TextAreaFor(p => p.Remarks,new { rows = "3",style = "width:300px" })
        </div>
    </div>
}
