﻿@{
    Layout = null;
}
<script type="text/javascript">
   
</script>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>服务商：</span>
            @Html.DropDownList("FWSID", ViewData["AvailableFWS"] as IList<SelectListItem>, new { required = "" })
        </div>
    </div>
}
