﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>兜会移动学习平台-运营管理</title>
    <link href="~/Content/jqueryui/jquery-ui-null.css" rel="stylesheet">
    <link href="~/Content/oldcss/style.css" rel="stylesheet">
    <link href="~/Content/oldcss/index.css" rel="stylesheet">
    <link href="~/Content/oldcss/agentlist.css" rel="stylesheet">
    <link href="~/Content/oldcss/reset.css" rel="stylesheet">
    @*<link href="~/Content/ui.jqgrid.css" rel="stylesheet">*@
    <link href="~/Content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/css/plugins/jqgrid/ui.jqgridffe4.css?0820" rel="stylesheet">
    @*<link href="~/Content/css/animate.min.css" rel="stylesheet">*@
    <link href="~/Content/css/style.min862f.css?v=4.1.0" rel="stylesheet">

    <link href="~/Content/jquery.validate.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script src="~/Scripts/i18n/grid.locale-cn.js"></script>
    <script src="~/Scripts/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>
    <script src="~/Scripts/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.messages.cn.js"></script>
    <script src="~/Scripts/Call.Common.js"></script>
    <script>
        $(document).ready(function () {
            $.jgrid.defaults.styleUI = "Bootstrap";
        });
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>


            