﻿@model OrderSystem.ActionConfirmationModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">确认该操作</h4>
        </div>
        <div class="modal-body">
            确实要执行此操作吗？
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">取消</span>
            <button type="submit" id="@(Model.WindowId)-submit-button" class="btn btn-primary pull-right">
                是
            </button>
        </div>
    </div>
</div>