﻿@model OrderSystem.Models.SubordinateCompany.SubordinateCompanyModel
@{
    Layout = null;
}
@using Common.Enums;
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>编码：</span>
            @*<inout type="hidden" name="CompanyId" value="1"/>
            <inout type="hidden" name="ParentId" value="1" />*@
            @Html.HiddenFor(p => p.CompanyType)
            @Html.TextBoxFor(p => p.Num, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>名称：</span>
            @Html.TextBoxFor(p => p.Name, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>联系人：</span>
            @Html.TextBoxFor(p => p.Contacts, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>联系电话1：</span>
            @Html.TextBoxFor(p => p.ContactTel1, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>联系电话2：</span>
            @Html.TextBoxFor(p => p.ContactTel2, new { required = "true" })
        </div>

        <div class="fromlist">
            <span>地区：</span>
            <div data-toggle="distpicker">
                <br>
                <select style="margin-left:2rem" name="Province" data-province="---- 选择省 ----"></select>
                <select name="City" data-city="---- 选择市 ----"></select>
                <select name="County" data-district="---- 选择区 ----"></select>
            </div>
        </div>
        <div class="fromlist">
            <span>详细地址：</span>
            @Html.TextBoxFor(p => p.Address, new { required = "true" , style = "width:300px" })
        </div>     
        <div class="fromlist">
            <span>上级公司：</span>
            @Html.DropDownListFor(p => p.ParentId, Model.ParCompanyList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>总公司：</span>
            @Html.DropDownListFor(p => p.CompanyId, Model.CompanyList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>状态：</span>
            @Html.DropDownListFor(p => p.Status, Model.StatusList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>备注：</span>
            @Html.TextAreaFor(p => p.Remarks, new { rows = "3", style = "width:300px" })
        </div>
        
    </div>
}
<script src="~/Scripts/sanji/distpicker.data.js"></script>
<script src="~/Scripts/sanji/distpicker.js"></script>
<script src="~/Scripts/sanji/main.js"></script>
