﻿@model Domain.Model.Users.Role
@{
    Layout = null;
}
@using Common.Enums;
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>角色名称：</span>
            @Html.TextBoxFor(p => p.Name, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>角色代码：</span>
            @Html.TextBoxFor(p => p.Code, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>备注：</span>
            @Html.TextAreaFor(p => p.Remarks, new { rows = "3", style = "width:300px" })
        </div>
    </div>
}

