﻿@using Domain.Model.Users
@using Common.Enums;
@using Domain.Model.Common;
<script type="text/javascript">
    function query() {
        jQuery("#jqT").jqGrid('setGridParam', {
            url: "/Account/GetMenuList?Name=" + jQuery("#Name").val()
            + "&Status=" + jQuery("#Status").val()
        }).trigger("reloadGrid");
    }
    function add(parentId) {
        FormDialog("dialog-form", "/Account/AddMenu?parentId=" + parentId, "新增子菜单");
    }

    function del(id)
    {
        if (confirm("确定要删除该菜单吗？")) {
            AjaxPostData("/Account/DelMenu", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function edit(id) {
        FormDialog("dialog-form", "/Account/UpdMenu?id="+id, "编辑菜单");
    }

    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        //jQuery("#jqT").trigger("reloadGrid");
        document.location.reload();
    }

</script>
@*<div class="agentlist">
    <strong>菜单设置</strong>
    <a id="btnExport" onclick="add();">新增菜单</a>
</div>*@
@*<div class="searchagent">
    <h3>菜单名称：</h3>
    <input id="Name" name="Name" class="input_XSmall">
    <h3>状态</h3>
    <select id="Status" name="Status" class="input_XSmall">
        <option value="-1">所有</option>
        <option value="1">正常</option>
        <option value="2">停用</option>
    </select>
    <a id="btnQuery" onclick="query();">查询</a>
</div>*@

<div class="listagent">
    @*@Html.jqGrid("#jqT", "", "GetMenuList", "'菜单名称', '序号', 'ControllerName', 'ActionName', 'IconClass','状态','备注','操作'"
          , "{ name: 'Name', sortable: false, align: 'left'},"
          + "{ name: 'OrderNo', sortable: false, align: 'left' },"
          + "{ name: 'ControllerName', sortable: false, align: 'left' },"
          + "{ name: 'ActionName', sortable: false, align: 'left' },"
          + "{ name: 'IconClass', sortable: false, align: 'left' },"
          + "{ name: 'Remarks', sortable: false, align: 'left' },"
          + "{ name: 'Id', sortable: false, align: 'left', formatter:function(cellvalue, options, rowObject) { return \" <a onclick=\\\"edit('\" + cellvalue + \"')\\\">编辑</a>  <a onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a> <a onclick=\\\"stop('\" + cellvalue + \"')\\\">停用</a>\"; }    }"
    )*@
    <table id="treeTable" class="table table-striped table-bordered table-condensed tree_table" style="display: table;">
        <thead><tr><th>菜单名称</th><th>链接</th><th style="text-align:center;">排序</th><th>IconClass</th><th>是否显示在菜单</th><th>状态</th><th>备注</th><th>操作</th></tr></thead>
        <tbody>
            @foreach (var menu in ViewData["menuList"] as List<Menu>)
            {
                <tr id="@menu.Id" @if(menu.ParentId>0){<text>pId="@menu.ParentId"</text>}>
                    <td nowrap><i class="@menu.IconClass"></i>@menu.Name</td>
                    <td title="@menu.ControllerName/@menu.ActionName"><a  target="_blank" href="http://@Request.Url.Host:@Request.Url.Port/@menu.ControllerName/@menu.ActionName">@Request.Url.Host/@menu.ControllerName/@menu.ActionName</a></td>
                    <td style="text-align:center;">
                        @menu.OrderNo
                    </td>
                    <td>@menu.IconClass</td>
                    <td>@EnumExtensions.GetEnumDescription((IfShow)menu.IfShow)</td>
                    <td>@EnumExtensions.GetEnumDescription((Status)menu.Status)</td>
                    <td>@menu.Remarks</td>
                    <td nowrap>
                        <a href="javascript:void(0)" onclick="edit(@menu.Id)">编辑</a>
                        <a href="avascript:void(0)" onclick="del(@menu.Id)">删除</a>
                        <a href="avascript:void(0)" onclick="add(@menu.Id)">添加子菜单</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.jqDialog("dialog-form", 500, 500)

<link href="~/Scripts/treeTable/themes/vsStyle/treeTable.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/treeTable/jquery.treeTable.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#treeTable").treeTable({ expandLevel: 3 }).show();
    });   
</script>