﻿<script type="text/javascript">
    function query() {
        jQuery("#jqT").jqGrid('setGridParam', {
            url: "/Account/GetRoleList?Name=" + jQuery("#Name").val()
        }).trigger("reloadGrid");
    }
    function add() {
        FormDialogSetRoleList("dialog-form", "/Account/AddRole", "新增角色");
    }

    function del(id)
    {
        if (confirm("确定要删除该角色吗？")) {
            AjaxPostData("/Account/DelRole", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }
    //分配模块
    function set(id) {
        FormDialogSetRoleList("dialog-form", "/Account/SetRoleMenus?id=" + id, "分配模块");
    }

    function FormDialogSetRoleList(dialogName, url, caption) {
        var mydialog = $("#" + dialogName);
        mydialog.load(url,
            function () {
                var form = mydialog.find("form");
                if (form.length > 0) {
                    form.validate();
                }
                mydialog.dialog('option', 'buttons', { "确定": function () { formSub(); if (form.valid()) form.submit(); mydialog.dialog("close");}, "关闭": function () { mydialog.dialog("close"); } });
                mydialog.dialog({ title: caption });
                mydialog.dialog("open");
            });
    }

    function formSub() {
        if (typeof (menuTreeselect) != "undefined"){
            var ids = "";
            var nodes = menuTreeselect.getCheckedNodes(true);
            for (var i = 0, l = nodes.length; i < l; i++) {
                //menuTreeselect.expandNode(nodes[i], true, false, false);
                ids += nodes[i].id + ",";
            }
            $("#menuIds").val(ids);
        }
    }

    function edit(id) {
        FormDialog("dialog-form", "/Account/UpdRole?id="+id, "编辑角色");
    }

    function OnSuccessPost(e) {
        //$("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }

</script>
<div class="agentlist">
    <strong>角色查询</strong>
    <a id="btnExport" onclick="add();">新增角色</a>
</div>
<div class="searchagent">
    <h3>角色名称：</h3>
    <input id="Name" name="Name" class="input_XSmall">
    <a id="btnQuery" onclick="query();">查询</a>
</div>

<div class="listagent">
    @Html.jqGrid("#jqT", "", "GetRoleList", "'角色名称', '角色代码','备注','操作'"
      , "{ name: 'Name', sortable: false, align: 'left'},"
      + "{ name: 'Code', sortable: false, align: 'left' },"
      + "{ name: 'Remarks', sortable: false, align: 'left' },"
      + "{ name: 'Id', sortable: false, align: 'left', formatter:function(cellvalue, options, rowObject) { return \" <a onclick=\\\"edit('\" + cellvalue + \"')\\\">编辑</a>  <a onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a> <a onclick=\\\"set('\" + cellvalue + \"')\\\">分配模块</a>\"; }    }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)
