﻿@{
    Layout = null;
}
@using Domain.Model.Users
@using Common.Enums;
@using Domain.Model.Common;
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
    {
        <div class="fromlistbox">
    <div class="fromlist">        <input name="roleId" id="roleId" type="hidden" value="@ViewData["id"]"/><input name="menuIds" id="menuIds" type="hidden" />
    </div>
            <div id="menuTreeselect" class="ztree" style="margin:15px;"></div></div>
    
   
}
<link href="~/Scripts/jquery-ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ztree/3.5.12/js/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>
<script type="text/javascript">

    var menuTreeselectSetting = {
        view: { selectedMulti: false, dblClickExpand: false, nameIsHTML: true, showIcon: false, showTitle: false }, data: { simpleData: { enable: true } },
        callback: { onClick: function (event, treeId, treeNode) { menuTreeselect.expandNode(treeNode); if (!treeNode.isParent) { cookie('menuId', treeNode.id, { path: '/' }); } } },
        check: {
            enable: true
        }
        //onClick: function (event, treeId, treeNode) {
        //    menuTreeselect.expandNode(treeNode);
        //},
        //onCheck: function (e, treeId, treeNode) {
        //    var nodes = menuTreeselect.getCheckedNodes(true);
        //    for (var i = 0, l = nodes.length; i < l; i++) {
        //        menuTreeselect.expandNode(nodes[i], true, false, false);
        //    }
        //    return false;
        //}
    };
    var menuTreeselectNodes = [

        @foreach (var menu in ViewData["menuList"] as List<Menu>)
        {
              <text>{ id: @menu.Id, pId: @menu.ParentId, name: "@menu.Name", url: "@menu.ControllerName/@menu.ActionName", target: "_self" },</text>
        }
        { id: new Date().getTime(), pId: "", name: "退出登录", url: "#", target: "_self",isHidden:true}];
    var menuTreeselect = $.fn.zTree.init($("#menuTreeselect"), menuTreeselectSetting, menuTreeselectNodes);
    for (var i = 0; i < menuTreeselectNodes.length; i++) {
        menuTreeselect.expandNode(menuTreeselectNodes[i], true, false, false);
    }
    var menuTreeselectNode = menuTreeselect.getNodeByParam("id", '0');
    menuTreeselect.selectNode(menuTreeselectNode, true);
    menuTreeselect.expandNode(menuTreeselectNode, true, false, false);

    // 默认选择节点
    function selectCheckNode() {
        @{ 
            string ids = "";
        }
        @foreach (var id in ViewData["checkMenuList"] as List<int>)
        {
            ids += id + ",";
        }
        //var ids = "${selectIds}".split(",");
        
        var ids = "@ids".split(",");
        for (var i = 0; i < ids.length; i++) {
            var node = menuTreeselect.getNodeByParam("id", ids[i]);
            if (true) {
                try { menuTreeselect.checkNode(node, true, true); } catch (e) { }
                menuTreeselect.selectNode(node, false);
            } else {
                menuTreeselect.selectNode(node, true);
            }
        }
    }

    $(document).ready(function () {
        selectCheckNode();
    })
</script>

