﻿@model OrderSystem.Models.Account.UserAccountModel
@{
    Layout = null;
}
@using Common.Enums;
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{

    <div class="fromlistbox">
        <div class="fromlist">
            <span>用户名：</span>
            @Html.TextBoxFor(p => p.UserName, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>密码：</span>
            @Html.PasswordFor(p => p.UserPwd, new { required = "true", id = "UserPwd", minlength = "6" })
        </div>
        <div class="fromlist">
            <span>确认密码：</span>
            @Html.PasswordFor(p => p.UserCheckPwd, new { required = "true", equalTo = "#UserPwd" })
        </div>
        <div class="fromlist">
            <span>角色：</span>
            @Html.DropDownListFor(p => p.RoleID, Model.UserRoleList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>姓名：</span>
            @Html.TextBoxFor(p => p.Name, new { required = "true", minlength = "2" })
        </div>
        <div class="fromlist">
            <span>联系电话：</span>
            @Html.TextBoxFor(p => p.Tel, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>用户类别：</span>
            @Html.DropDownListFor(p => p.UserType, Model.UserTypeList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>用户状态：</span>
            @Html.DropDownListFor(p => p.UserState, Model.UserStateList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>关联单位：</span>
            @Html.DropDownListFor(p => p.SubordinateCompanyId, Model.CompanyList, new { required = "" })
        </div>
    </div>
}
<script src="~/Scripts/validateTools.js"></script>
<script>
    $().ready(function () {
    $("#form0").validate({
        rules: {
            Tel: {
                required: true,
                isPhone: true
            },
            UserName: {
                required: true,
                remote: {
                    url: "@Url.Action("ValidateUserName", "Account")",
                    type: "post",
                    dataType: "json",
                    data: {
                        UserName: function () {
                            return $("#UserName").val();　　　　//这个是取要验证的密码
                        }
                    }
                }
            },
            Name: {
                    required: true,
                    minlength: 2,
                    maxlength: 5
                },
            UserPwd: {
                required: true,
                minlength: 6
            },
            UserCheckPwd: {
                required: true,
                equalTo: "#UserPwd"
            }
        },
            messages: {
                UserName: {
                    required: "请填写用户名",
                    remote: "用户名已存在",
                },
                Name: {
                    required: "请填写姓名",
                    minlength: "长度不能小于2个字符",
                    maxlength: "长度不能大于5个字符"
                },
                UserPwd: {
                    required: "请填写密码",
                    minlength: "长度不能小于6个字符"
                },
                UserCheckPwd: {
                    required: "请再次输入密码",
                    equalTo: "密码不一致"
                }
        }
    });
})
</script>
