﻿@model OrderSystem.Models.Account.MenuModel
@{
    Layout = null;
}
@using Common.Enums;
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPost", OnFailure = "OnAJAXError" }))
{
    <div class="fromlistbox">
        <div class="fromlist">
            <span>菜单名称：</span>
            @Html.TextBoxFor(p => p.Name, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>ControllerName：</span>
            @Html.TextBoxFor(p => p.ControllerName, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>ActionName：</span>
            @Html.TextBoxFor(p => p.ActionName, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>IconClass：</span>
            @Html.TextBoxFor(p => p.IconClass, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>是否菜单显示：</span>
            @Html.DropDownListFor(p => p.IfShow, Model.IfSowList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>序号：</span>
            @Html.TextBoxFor(p => p.OrderNo, new { required = "true" })
        </div>
        <div class="fromlist">
            <span>状态：</span>
            @Html.DropDownListFor(p => p.Status, Model.StatusList, new { required = "" })
        </div>
        <div class="fromlist">
            <span>备注：</span>
            @Html.TextAreaFor(p => p.Remarks, new { rows = "3", style = "width:300px" })
        </div>
    </div>
}

