﻿<script type="text/javascript">
    function query() {
        jQuery("#jqT").jqGrid('setGridParam', {
            url: "/Account/GetUserAccountList?UserName=" + jQuery("#username").val()
            + "&RoleID=" + jQuery("#roleId").val() + "&UserState=" + jQuery("#userState").val()
        }).trigger("reloadGrid");
    }
    function add() {
        FormDialog("dialog-form", "/Account/AddAccount", "新增用户");
    }

    function del(id) {
        if (confirm("确定要删除该用户吗？")) {
            AjaxPostData("/Account/DelAccount", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function edit(id) {
        FormDialog("dialog-form", "/Account/UpdAccount?id=" + id, "编辑用户");
    }

    function stop(id) {
        if (confirm("确定要停用该用户吗？")) {
            AjaxPostData("/Account/StopAccount", "id=" + id, function () {
                jQuery("#jqT").trigger("reloadGrid");
            });
        }
    }

    function OnSuccessPost(e) {
        $("#dialog-form").dialog("close");
        alert("操作成功！");
        jQuery("#jqT").trigger("reloadGrid");
    }


    function orderInfo(cellvalue, options, rowObject) {
        return "<a href='/Order/OrderInfo?OrderId=" + rowObject["Id"] + "' >" + cellvalue + "</a>";
    }

    
</script>
<div class="agentlist">
    <strong>用户查询</strong>
    <a id="btnExport" onclick="add();">新增用户</a>
</div>
<div class="searchagent">
    <h3>用户名</h3>
    <input id="username" name="username" class="input_XSmall">
    <h3>角色:</h3>
    <select id="roleId" name="roleId" class="input_XSmall">
        <option value="-1">所有</option>
    </select>
    <h3>状态</h3>
    <select id="userState" name="userState" class="input_XSmall">
        <option value="-1">所有</option>
        <option value="1">正常</option>
        <option value="2">停用</option>
    </select>
    <a id="btnQuery" onclick="query();">查询</a>
</div>

<div class="listagent">
     @Html.jqGrid("#jqT", "", "GetUserAccountList", "'用户名', '角色', '状态', '姓名', '联系电话', '用户类别','关联单位','操作'"
      , "{ name: 'UserName', sortable: false, align: 'left'},"
      + "{ name: 'RoleID', sortable: false, align: 'left' },"
      + "{ name: 'UserState', sortable: false, align: 'left' },"
      + "{ name: 'Name', sortable: false, align: 'left' },"
      + "{ name: 'Tel', sortable: false, align: 'left' },"
      + "{ name: 'UserType', sortable: false, align: 'left' },"
      + "{ name: 'CompanyID', sortable: false, align: 'left' },"
      + "{ name: 'Id', sortable: false, align: 'left', formatter:function(cellvalue, options, rowObject) { return \" <a onclick=\\\"edit('\" + cellvalue + \"')\\\">编辑</a>  <a onclick=\\\"del('\" + cellvalue + \"')\\\">删除</a> <a onclick=\\\"stop('\" + cellvalue + \"')\\\">停用</a>\"; }    }"
)
</div>
@Html.jqDialog("dialog-form", 500, 500)


