﻿
@{
    
}


<div id="sidebar" style="display: none;">
    <div class="close-layer" onclick="javascript: document.getElementById('sidebar').style.display = 'none'; ">
        <svg type="ios-arrow-thin-right" size="50" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512" class="vux-x-icon vux-x-icon-ios-arrow-thin-right close-button"><path d="M322.2 349.7c-3.1-3.1-3-8 0-11.3l66.4-74.4H104c-4.4 0-8-3.6-8-8s3.6-8 8-8h284.6l-66.3-74.4c-2.9-3.4-3.2-8.1-.1-11.2 3.1-3.1 8.5-3.3 11.4-.1 0 0 79.2 87 80 88s2.4 2.8 2.4 5.7-1.6 4.9-2.4 5.7-80 88-80 88c-1.5 1.5-3.6 2.3-5.7 2.3s-4.1-.8-5.7-2.3z"></path></svg>
    </div> <ul class="side-nav">
        <li><a href="/Mobile/Order/addOrderMain" class="">添加订单</a></li>
        <li><a href="/Mobile/Home/Index" class="router-link-exact-active router-link-active">订单查询</a></li>
        <li><a href="/Mobile/Storage/ProductStore" class="">库存查询</a></li>
        <li><a href="/Mobile/Sales/Index" class="">销售统计</a></li>
    </ul>
</div> <div class="app-header top-fixed">
    <div class="back"  onclick="javascript:history.back();">
        <p>
            <svg type="ios-arrow-back" size="30" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512" class="vux-x-icon vux-x-icon-ios-arrow-back"><path d="M352 128.4L319.7 96 160 256l159.7 160 32.3-32.4L224.7 256z"></path></svg> <span>返回</span>
        </p>
    </div>
    <div class="title">
        @ViewBag.Title
    </div>
           <div>
               <sapn >
                   <svg type="navicon" onclick="javascript: document.getElementById('sidebar').style.display = 'block'; " size="35" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 512 512" class="vux-x-icon vux-x-icon-navicon" style="fill: rgb(23, 197, 195); position: relative; right: -2rem;"><path d="M96 241h320v32H96zm0-96h320v32H96zm0 192h320v32H96z"></path></svg>
               </sapn>
           </div>
</div>
<style>
    .app-header {
        height: 50px;
        background: #fff;
        border-bottom: 1px solid #e7e7e7;
        display: flex !important;
        flex: 0 0 1.4rem;
    }

    .top-fixed {
        left: 0px;
        top: 0px;
        width: 100%;
        display: block;
    }

    [data-dpr="1"] .app-header {
        font-size: 18px;
    }

    [data-dpr="2"] .app-header {
        font-size: 36px;
    }

    [data-dpr="3"] .app-header {
        font-size: 54px;
    }

    .app-header > div {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        -o-box-pack: center;
        box-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-box-align: center;
        -o-box-align: center;
        box-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        flex: 1;
    }

        .app-header > div:first-child {
            text-align: left;
            margin-left: .267rem;
        }

        .app-header > div > p {
            width: 100%;
            display: flex;
            align-items: center;
        }
#sidebar {
  position: absolute;
  /*width: 5.5rem;*/
  height: 100%;
  right: 0;
  background: #585858;
  z-index: 99999
}
#sidebar .close-layer {
  text-align: right;
}
.side-nav {
  width: 100%;
  margin-top: 3rem;
}
.side-nav>li {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}
.side-nav>li>a {
  width: 100%;
  color:#ffffff;
  font-size: 15px;
}
.close-button {
  fill: #ffffff
}
</style>
